{% load staticfiles %}
{% load compress %}
<a href="{% url 'home' %}">
    <!-- The official eestec logo -->
    <img alt="Electrical Engineering Students' European Association"
         src="{% static 'enet/img/EESTEC_logo.svg' %}"/>
</a>
<!-- The Logo that says ELECTRICAL ENGINEERINGS STUDENTS EUROPEAN ASSOCIATION-->
<img id="eestec-text" alt="Electrical Engineering Students' European Association"
     src="{% static 'enet/img/stretched.svg' %}"/>
{% if not user.is_authenticated %}
    {% block authenticate %}
        {% include 'account/login.html' %}
    {% endblock %}
{% else %}
    <div id="userarea">
    </div>
    {% include 'account/grids/base.html' with object_list=userlist parent="#userarea" %}
{% endif %}

