{% extends 'enet/detail.html' %}
{% load thumbnail %}

{% block class %}eestecer{% endblock %}
{% block title %}{{ object }}{% endblock %}
{% block pictures %}
    {% thumbnail object.profile_picture "375x225" crop="center" as im %}
        <img alt="{{ object }}" src="{{ im.url }}" width="{{ im.width }}" height="
        {{ im.height }}">
    {% endthumbnail %}
{% endblock %}

{% block details %}
    <tr>
        <td>Name:</td>
        <td>{{ object.get_full_name }}</td>
    </tr>
    {% if object.show_date_of_birth %}
    <tr>
        <td>Date of Birth:</td>
        <td>{{ object.date_of_birth }}</td>
    </tr>
    {% endif %}
    <tr>
        <td>Date Joined:</td>
        <td>{{ object.date_joined }}</td>

    </tr>
    <tr>
        <td>Field of Study:</td>
        <td>{{ object.field_of_study|title }}</td>
    </tr>
    {% if object.curriculum_vitae %}
        <tr>
            <td>Curriculum Vitae</td>
            <td><a href="{{ object.curriculum_vitae.url }}"
                   style="color:blue;">Download</a></td>
        </tr>
    {% endif %}
{% endblock %}

{% block more %}
    <div>
        {% autoescape off %}
            {{ object.personal }}
        {% endautoescape %}
    </div>
    <details open>
        <summary>LC and Teams</summary>
        {% include 'teams/teams.html' with object_list=object.teams.all %}
    </details>
    {% if object.events_organized.all %}
        <details open>
            <h2>Last events Organized</h2>
            {% include  'events/events.html' with object_list=object.events_organized.all %}
        </details>
    {% endif %}
    {% if object.events.all %}
        <details open>
            <summary>Last events participated</summary>
            {% include  'events/events.html' with object_list=object.events.all %}
        </details>
    {% endif %}
    {% if object.achievements.all %}
        <details open>
            <summary>Achievements in EESTEC</summary>
            {% include  'account/achievement_list.html' with object_list=object.achievements.all %}
        </details>
    {% endif %}
{% endblock %}
{% block aside %}
    <h2> Admin Actions</h2>
    {% if object == user %}
        <a href="{% url 'userupdate' %}" id="updatepersonaldata">Update my Personal
            Data</a>
        {% if user.is_trainer %}
            <a href="{% url 'certificate' object.slug %}" id="trainercert">Training
                Certificate
                Supplement</a>
        {% endif %}
        <script type="text/javascript">
            $("a#updatepersonaldata").button();
            $("a#trainercert").button();
        </script>
        {% if user.is_superuser %}
            <a href="{% url 'batch_add_events' %}" id="add_events">Add events in CSV</a>
            <script type="text/javascript">
                $("a#add_events").button();
            </script>
        {% endif %}
        {% for group in user.groups.all %}
            {% if group.name == 'Local Admins' %}
                <a href="{% url 'batch_add_events' %}" id="add_events">Add events in
                    CSV</a>
                <script type="text/javascript">
                    $("a#add_events").button();
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% block add_events %}{% endblock %}
{% endblock %}
