{% extends 'base/prototypes/detail.html' %}
{% load thumbnail %}

{% block class %}eestecer{% endblock %}
{% block title %}{{ object }}{% endblock %}
{% block pictures %}
    {% thumbnail object.profile_picture "375x225" crop="center" as im %}
        <img alt="{{ object }}" src="{{ im.url }}" width="{{ im.width }}" height="
        {{ im.height }}">
    {% endthumbnail %}
{% endblock %}

{% block details %}
    <div>
        <span>Name:</span>
        <span>{{ object.get_full_name }}</span>
    </div>
    {% if object.show_date_of_birth %}
        <div>
            <span>Date of Birth:</span>
            <span>{{ object.date_of_birth }}</span>
        </div>
    {% endif %}
    <div>
        <span>Date Joined:</span>
        <span>{{ object.date_joined }}</span>

    </div>
    <div>
        <span>Field of Study:</span>
        <span>{{ object.field_of_study|title }}</span>
    </div>
    {% if object.curriculum_vitae %}
        <div>
            <span>Curriculum Vitae</span>
            <span><a href="{{ object.curriculum_vitae.url }}"
                     style="color:blue;">Download</a></span>
        </div>
    {% endif %}
{% endblock %}

{% block more %}
    <div>
        {% autoescape off %}
            {{ object.personal }}
        {% endautoescape %}
    </div>
<h2>Teams and LCs</h2>
<div id="teamcontainer">
</div>
{% include 'teams/grids/base.html' with object_list=object.teams.all parent="#teamcontainer" %}
{% if object.events_organized.all %}
    <h2>Last Events Organized</h2>
    <div id="eventocontainer">
    </div>
    {% include 'events/grids/base.html' with object_list=object.events_organized.all parent="#eventocontainer" %}
    {% endif %}
    {% if object.events.all %}
        <h2>Last Events Participated</h2>
        <div id="eventcontainer">
        </div>
        {% include 'events/grids/base.html' with object_list=object.events.all parent="#eventcontainer" %}
    {% endif %}
    {% if object.achievements.all %}
        <details open>
            <summary>Achievements in EESTEC</summary>
            {% include  'account/achievement_list.html' with object_list=object.achievements.all %}
        </details>
    {% endif %}
{% endblock %}
{% block aside %}
    <h2> Admin Actions</h2>
    {% if object == user %}
        {% include "prototypes/modal.html" with buttontext='Update my personal Data' buttonurl='/people/me/' %}
        {% if user.is_trainer %}
            <a href="{% url 'certificate' object.slug %}" id="trainercert">Training
                Certificate
                Supplement</a>
        {% endif %}
        <script type="text/javascript">
            $("a#updatepersonaldata").button();
            $("a#trainercert").button();
        </script>
        {% if user.is_superuser %}
            <a href="{% url 'batch_add_events' %}" id="add_events">Add events in CSV</a>
            <script type="text/javascript">
                $("a#add_events").button();
            </script>
        {% endif %}
        {% for group in user.groups.all %}
            {% if group.name == 'Local Admins' %}
                <a href="{% url 'batch_add_events' %}" id="add_events">Add events in
                    CSV</a>
                <script type="text/javascript">
                    $("a#add_events").button();
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% block add_events %}{% endblock %}
{% endblock %}
