{% extends 'enet/detail.html' %}
{% load thumbnail %}

{% block class %}eestecer{% endblock %}
{% block title %}{{ object }}{% endblock %}
{% block pictures %}
    {% thumbnail object.profile_picture "375x225" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
{% endblock %}

{% block details %}
    <tr>
        <td>Name:</td>
        <td>{{ object.get_full_name }}</td>
    </tr>
    <tr>
        <td>Date of Birth:</td>
        <td>{{ object.date_of_birth }}</td>
    </tr>
    <tr>
        <td>Date Joined:</td>
        <td>{{ object.date_joined }}</td>
    </tr>
    <tr>
        <td>Field of Study:</td>
        <td>{{ object.field_of_study|title }}</td>
    </tr>
{% endblock %}

{% block more %}
    <div>
        {% autoescape off %}
            {{ object.personal }}
        {% endautoescape %}
    </div>
    <details open>
        <summary>LC and Teams</summary>
        {% include 'teams/teams.html' with object_list=object.teams.all %}
    </details>
    {% if object.events_organized.all %}
        <details open>
            <h2>Last events Organized</h2>
            {% include  'events/events.html' with object_list=object.events_organized.all %}
        </details>
    {% endif %}
    {% if object.events.all %}
        <details open>
            <summary>Last events participated</summary>
            {% include  'events/events.html' with object_list=object.events.all %}
        </details>
    {% endif %}
    {% if object.achievements.all %}
        <details open>
            <summary>Achievements in EESTEC</summary>
            {% include  'account/achievement_list.html' with object_list=object.achievement_set.all %}
        </details>
    {% endif %}
{% endblock %}