/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul {
    list-style-type: none;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li {
    margin: 0;
    padding: 0;
    line-height: normal;
    zoom: 1;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    background-image: url(../images/bg.jpg);
    font-family: Helvetica, Verdana sans-serif;
    font-size: 12px;
    color: #555;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Century Gothic';
    font-weight: bold;
    line-height: 100%;
    text-align: left;
    color: #9a0008;
    margin: 4px;
    padding: 0% 0% 0.5% 5%;
    flex: 1 1 100%;
    border-bottom: 1px solid #c30811;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    text-align: right;
}

html > body, header, #sponsors, footer, aside, main {
    display: flex;
    position: relative;
}

html > body {
    max-width: 1280px;
    margin: 0px auto;
    flex-direction: row;
    flex-wrap: wrap;
}

html > body > main {
    padding: 1px;
    border-width: 0px 1px 0px 1px;
    flex: 1 1;
    z-index: 2;
    border-color: #a2a0a0;
    position: relative;
    background-color: white;
    flex-wrap: wrap;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1), 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

html > body > main section {
    flex: 1 0 100%;
}

html > body > main > form {
    width: 480px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
    flex-wrap: wrap;
}

html > body > main > form p {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

html > body > main > form p input {
    flex: 1 1 40%;
}

html > body > main > form p label {
    flex: 1 1 40%;
}

html > body .grad {
    height: 340px;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 0;
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.04));
}

html > body > aside {
    background-color: #5f6a6d;
    border-width: 0px 57px 0px 0px;
    align-content: flex-start;
    padding-top: 30px;
    border-style: solid;
    border-color: #3f4749;
    z-index: 1;
    justify-content: center;
    flex-wrap: wrap;
}

html > body > aside h2 {
    border-bottom-color: white;
    text-align: center;
    color: white;
}

@media screen and (max-width: 1200px) {
    html > body > aside {
        flex: 1 0 100%;
    }
}

@media screen and (min-width: 1200px) {
    html > body > aside {
        flex: 0 0 253px;
    }
}

html > body td {
    text-align: center;
    vertical-align: middle;
}

html > body td:first-child {
    text-align: left;
}

html > body td:last-child {
    text-align: right;
}

html > body #sponsors {
    flex: 1 0 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    border: red solid;
    border-right: 2px;
    border-left: 2px;
    padding: 10px 0px;
    background-color: #fff;
}

@media only screen and (max-width: 45em) {
    html > body #sponsors a {
        flex: 1 1 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: auto;
    }

    html > body #sponsors a img {
        height: 30px;
    }

    html > body #sponsors a p {
        display: inline;
        font-family: "Century Gothic";
        font-weight: bold;
    }
}

html > body #sponsors p {
    display: none;
}

@media only screen and (max-width: 45em) {
    html > body #sponsors p {
        display: inline-block;
    }
}

html > body footer {
    font-family: "Century Gothic";
    background-color: #465052;
    height: 130px;
    position: relative;
    flex: 1 1 100%;
}

html > body footer div.social {
    flex-wrap: wrap;
    align-self: center;
    display: flex;
    flex: 1 1 33%;
    justify-content: space-around;
}

html > body footer div.social svg.social {
    height: 30px;
    width: 30px;
    fill: white;
    padding: 10px;
    background-color: #c30811;
}

@media only screen and (max-width: 45em) {
    html > body footer div.social svg.social {
        height: 50px;
        width: 50px;
    }
}

html > body footer div.social p {
    flex: 1 1 100%;
    color: #fff;
    padding: 10px;
}

html > body footer img {
    height: 130px;
    position: absolute;
    top: 0px;
    left: 0px;
}

html > body footer nav {
    flex: 0 1 66%;
    z-index: 10;
}

html > body footer nav a {
    color: #fff;
    text-decoration: none;
}

@media only screen and (max-width: 45em) {
    html > body footer nav {
        display: none;
    }
}

html > body footer nav > ul {
    padding-top: 30px;
    justify-content: flex-start;
}

html > body footer nav > ul > li {
    position: relative;
}

html > body footer nav > ul > li > a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    height: 100%;
}

html > body footer nav > ul > li ul {
    top: 20px;
    position: absolute;
    display: block;
    left: 0px;
    right: 0px;
}

#copyright {
    text-align: center;
    background-color: #465052;
    color: white;
    width: 100%;
}

.messages {
    flex: 1 1 100%;
    padding: 30px;
    background-color: rgba(173, 216, 230, 0.5);
    font-weight: bold;
    font-size: 18px;
}

.ui-button {
    height: 30px;
    flex: 1 1 100%;
}

body > header {
    flex: 1 1 100%;
    background-color: #fff;
    z-index: 3;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 1%;
}

body > header img {
    height: 100px;
    width: auto;
}

body > header #eestec-text {
    height: 50px;
}

body > header #signin td {
    padding: 5px;
}

body > header #signin input[role=button] {
    text-align: center;
    width: 138px;
    font-size: 16px;
    padding: 1px;
    color: #fff;
    font-family: "Century Gothic";
    border-radius: 4px;
    border: none;
    display: block;
    background-color: #9a0008;
}

#nav {
    align-self: center;
    flex: 1 1 100%;
    z-index: 10;
}

#nav a {
    color: #fff;
}

@media only screen and (max-width: 45em) {
    #nav:not(:target) > a:first-of-type, #nav:target > a:last-of-type {
        display: block;
    }

    #nav:target > ul {
        display: block;
    }

    #nav:target > a {
        display: none;
    }
}

#nav > a {
    display: none;
}

@media only screen and (max-width: 45em) {
    #nav > a {
        position: fixed;
        top: 0px;
        right: 0px;
        font-size: 30px;
        color: #fff;
        background-color: #ee1f29;
        padding: 5px;
    }
}

#nav > ul {
    border-bottom: 1px solid #ee1f29;
    border-top: 1px solid #ee1f29;
    align-items: center;
    font-family: "Century Gothic";
}

@media only screen and (max-width: 45em) {
    #nav > ul {
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
    }
}

@media only screen and (min-width: 45em) {
    #nav > ul {
        height: 55px;
    }
}

#nav > ul > li {
    background-color: #c30811;
    position: relative;
}

@media only screen and (max-width: 45em) {
    #nav > ul > li {
        width: 100%;
    }
}

#nav > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    height: 100%;
}

#nav > ul > li > a:hover {
    background-color: #ee1f29;
}

#nav > ul > li:hover ul {
    display: block;
}

@media only screen and (max-width: 45em) {
    #nav > ul > li:hover ul {
        display: none;
    }
}

#nav > ul > li ul {
    display: none;
    top: 55px;
    position: absolute;
    left: 0px;
}

#nav > ul > li ul li {
    display: block;
    padding: 5px;
    background-color: #fa4b54;
}

#nav > ul > li ul li:hover {
    background-color: #fc737a;
}

#nav > ul form {
    flex: 1 1 200px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #c30811;
}

@media only screen and (max-width: 45em) {
    #nav > ul form {
        display: none;
    }
}

#nav > ul form input {
    height: 30px;
    font-size: 25px;
    padding: 3px;
    background-color: #9a0008;
    border-radius: 5px;
    border: none;
}

.animate {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button {
    position: relative;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
}

.action-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}

.blue {
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
}

.red {
    background-color: #E74C3C;
    border-bottom: 5px solid #BD3E31;
    text-shadow: 0px -2px #BD3E31;
}

.green {
    background-color: #82BF56;
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
}

.yellow {
    background-color: #F2CF66;
    border-bottom: 5px solid #D1B358;
    text-shadow: 0px -2px #D1B358;
}

ul.figure {
    justify-content: center;
}

ul.figure a {
    margin: 1px;
    text-decoration: none;
    background-color: #354040;
    padding: 2px;
}

ul.figure a figure {
    flex: 1 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .25s;
}

ul.figure a figure img {
    margin: 1px;
    position: absolute;
    top: 0px;
    left: 0px;
}

ul.figure a figure figcaption {
    opacity: 0.9;
    flex: 1 1 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 20px 0px;
    font-family: "Century Gothic";
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all .5s;
}

ul.figure a figure:hover {
    z-index: 10;
    transform: scale(1.2);
}

ul.figure a figure:hover figcaption {
    background-color: rgba(0, 0, 0, 0.5);
}

ul.figure a .comment {
    font-size: 12px;
    line-height: 100%;
    color: #ffffff;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article h1 {
    align-self: flex-start;
}

article header {
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

article header .pictures, article header img {
    width: 375px;
    height: 225px;
}

article header .details {
    min-width: 400px;
}

article header .details tr {
    margin-bottom: 15px;
    border-bottom: 1px #c30811 solid;
}

article header .details tr td:first-child {
    font-size: 18px;
    font-weight: bold;
    color: #c30811;
    font-family: "Century Gothic";
}

article header .details tr:last-child {
    height: 55px;
    border: none;
}

article .actions {
    text-align: center;
}

article .actions form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article details {
    align-self: flex-start;
}

a.member {
    width: 191px;
    height: 126px;
}

a.member figure {
    width: 191px;
    height: 126px;
}

section.members {
    margin: 3px;
}

#map {
    width: 80%;
    height: 350px;
}

a.event {
    width: 151;
}

a.event figure {
    width: 151px;
    height: 111px;
}

section.events {
    margin: 3px;
}

figure.eestecer {
    width: 100px;
}

article.eestecer .details {
    justify-content: flex-start;
}

main.home {
    display: flex;
    flex-wrap: wrap;
    background: none;
    padding: 0px 1px 0px 0px;
    box-shadow: none;
    justify-content: center;
    max-width: 1280px;
}

main.home h1 {
    color: #fff;
    text-align: center;
    left: 0px;
    height: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    border: 0px;
    padding: 5px;
    margin: 0px;
}

main.home p {
    padding: 5px;
}

main.home #donate {
    flex: 1 0 45%;
    min-height: 100px;
}

@media (max-width: 1200px) {
    main.home #donate {
        order: 3;
    }
}

main.home #donate .wrapper {
    text-align: center;
    padding: 30px;
    width: 150px;
}

main.home #donate .wrapper a {
    display: block;
    background-color: #c30811;
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 4px 10px;
    font-weight: bolder;
}

main.home #newsletter {
    flex: 1 0 45%;
    min-height: 100px;
    position: relative;
}

@media (max-width: 1200px) {
    main.home #newsletter {
        order: 4;
    }
}

main.home #newsletter form {
    text-align: center;
    padding: 30px 0px;
    width: 450px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

main.home #newsletter form input.submit {
    border: none;
    background-color: #c30811;
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 4px 10px;
    font-weight: bolder;
}

main.home nav {
    flex: 1 1 15%;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background-color: #465052;
}

main.home nav img {
    padding: 50px;
}

@media screen and (max-width: 1200px) {
    main.home nav {
        flex: 1 1 100%;
    }
}

main.home #preview {
    flex: 1 0 85%;
    height: 480px;
    position: relative;
}

main.home #preview a {
    color: white;
    text-decoration: none;
}

main.home #preview > h1, main.home #preview h2 {
    color: #fff;
    text-align: center;
    width: 100%;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

main.home #preview footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    height: 80px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

main.home #preview footer h1, main.home #preview footer h2 {
    text-align: left;
    border-bottom: 1px solid #fff;
    margin-bottom: 3px;
    padding-bottom: 3px;
}

main.home #preview footer main {
    flex: 1 1 70%;
    display: flex;
    flex-direction: column;
}

main.home #preview footer aside {
    flex: 1 1 30%;
    background-color: rgba(195, 8, 17, 0.75);
    margin: 10px;
    padding: 5px;
    display: inline;
}

main.home #preview footer aside h2 {
    background: none;
    padding: 0px;
    margin: 0px;
}

main.home #preview footer aside a {
    padding-left: 2px;
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main.home #preview img, main.home #preview .pictures, main.home #preview #news {
    position: relative;
    width: 100%;
    height: 480px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}

.ui-timepicker-div dl {
    text-align: left;
}

.ui-timepicker-div dl dt {
    float: left;
    clear: left;
    padding: 0 0 0 5px;
}

.ui-timepicker-div dl dd {
    margin: 0 10px 10px 45%;
}

.ui-timepicker-div td {
    font-size: 90%;
}

.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.ui-timepicker-rtl {
    direction: rtl;
}

.ui-timepicker-rtl dl {
    text-align: right;
    padding: 0 5px 0 0;
}

.ui-timepicker-rtl dl dt {
    float: right;
    clear: right;
}

.ui-timepicker-rtl dl dd {
    margin: 0 45% 10px 10px;
}

a {
    text-decoration: none;
}
