html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}ul{list-style-type:none;flex-wrap:wrap;display:flex;align-items:center;justify-content:center}ul li{margin:0;padding:0;line-height:normal;zoom:1;height:100%;display:flex;align-items:center}@font-face{font-family:"helvetica neue";src:url("../HelveticaNeueLTPro-Lt.otf")}html{background-image:url(../images/bg.jpg);font-family:"Helvetica Neue", Helvetica, Verdana sans-serif;font-size:10px;color:#555}a{text-decoration:none;color:#fff}h1,h2,h3{font-family:'Century Gothic';font-weight:bold;line-height:100%;text-align:left;color:#9a0008;margin:0.4rem;padding:0% 0% 0.5% 5%;flex:1 1 100%;border-bottom:1px solid #c30811}h1 a,h2 a,h3 a{color:#9a0008}h4,h5,h6{font-family:'Century Gothic';color:black;font-weight:bold;text-align:center;font-size:1.6rem}h1{font-size:2.0rem}h2{font-size:1.8rem}h3{font-size:1.6rem}body,header,#sponsors,footer,aside,main{display:flex;position:relative;flex-wrap:wrap}#elfinder{z-index:1}html>body{max-width:128.0rem;margin:0rem auto;font-size:1.2rem}html>body>main{padding:.1rem;border-width:.0rem 0.1rem .0rem 0.1rem;flex:1 1;z-index:2;border-color:#a2a0a0;position:relative;background-color:white;flex-wrap:wrap;box-shadow:0rem 0rem 2rem 1rem rgba(0,0,0,0.1),0rem 0rem 2rem 1rem rgba(0,0,0,0.1);justify-content:center}html>body>main section{flex:1 0 100%}html>body>main>form{width:48.0rem;display:flex;background-color:rgba(0,0,0,0.1);position:relative;z-index:10;flex-wrap:wrap}html>body>main>form p{flex:1 1 100%;display:flex;flex-wrap:wrap;justify-content:space-between}html>body>main>form p input{flex:1 1 40%}html>body>main>form p label{flex:1 1 40%}html>body .grad{height:34.0rem;width:100%;top:.0rem;left:.0rem;position:absolute;z-index:-1;background:linear-gradient(to top, transparent, rgba(0,0,0,0.04))}html>body>aside{background-color:#5f6a6d;border-width:.0rem 5.7rem .0rem .0rem;align-content:flex-start;padding-top:3.0rem;border-style:solid;border-color:#3f4749;z-index:1;justify-content:center;flex-wrap:wrap}@media only screen and (max-width: 45em){html>body>aside{border-width:0px}}html>body>aside h2{border-bottom-color:white;text-align:center;color:white}@media screen and (max-width: 1200px){html>body>aside{flex:1 0 100%}}@media screen and (min-width: 1200px){html>body>aside{flex:0 0 25.3rem}}html>body td{text-align:center;vertical-align:middle}html>body td:first-child{text-align:left}html>body td:last-child{text-align:right}html>body .contact{display:flex;flex-direction:column;justify-content:center;align-items:center}html>body .contact h1{flex:initial;align-self:flex-start;width:100%}html>body .contact p{font-size:1.6rem}html>body .contact address{padding:10px}html>body .contact table tr td{padding:5px}html>body .contact table tr td:first-child{font-size:1.8rem;font-weight:bold;color:#c30811;font-family:"Century Gothic"}html>body .contact table tr td:last-child{font-size:1.8rem;border:none}html>body #sponsors{flex:1 0 100%;justify-content:space-around;flex-wrap:wrap;border:red solid;border-right:.2rem;border-left:.2rem;padding:1.0rem .0rem;background-color:#fff}html>body #sponsors img:not(:hover){-webkit-filter:grayscale(100%);-webkit-filter:-webkit-grayscale(100%);filter:-moz-grayscale(100%);-moz-filter:-moz-grayscale(100%);-moz-filter:-moz-grayscale(100%);filter:gray(100%)}@media only screen and (max-width: 45em){html>body #sponsors a{flex:1 1 40%;display:flex;align-items:center;justify-content:center;height:3.0rem;width:auto}html>body #sponsors a img{height:3.0rem}html>body #sponsors a p{color:#465052;font-size:2rem;display:inline;font-family:"Century Gothic";font-weight:bold}}html>body #sponsors p{display:none}@media only screen and (max-width: 45em){html>body #sponsors p{display:inline;color:#000}}

#copyright {
    text-align: center;
    background-color: #465052;
    color: white;
    width: 100%
}

.messages {
    flex: 1 1 100%;
    padding: 3.0rem;
    background-color: rgba(173, 216, 230, 0.5);
    font-weight: bold;
    font-size: 1.8rem
}

.ui-button {
    height: 3.0rem;
    flex: 1 1 100%
}

#feedbackbutton {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    background-color: #c30811;
    cursor: pointer;
    border-right: white 1px solid;
    border-bottom: white 1px solid;
    color: white;
    padding: 15px;
    border-bottom-right-radius: 15px
}

form#userupdate {
    padding: 15px;
    width: 100%
}

form#userupdate p {
    padding: 5px
}

.errorlist {
    color: red;
    font-weight: bold;
    font-size: 1.2rem
}

.error {
    color: red
}

.dialogform {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-wrap: wrap
}

.dialogform fieldset, .dialogform ul {
    flex: 1 1 100%
}

.dialogform legend {
    font-size: 17px;
    color: #c30811;
    display: block;
    font-weight: bold;
    border-bottom: 1px #c30811 solid;
    width: 100%;
    padding: 1px 10px
}

.dialogform li {
    padding: 0px 10px;
    flex: 1 1 100%;
    align-items: center;
    display: flex;
    justify-content: space-between
}

.dialogform select, .dialogform input, .dialogform textarea {
    border-radius: 15px;
    border-style: none;
    padding: 10px;
    margin: 5px;
    background-color: #ffffff
}

.dialogform select[type="submit"], .dialogform input[type="submit"], .dialogform textarea[type="submit"] {
    background-colr: rgba(0, 0, 0, 0.05)
}

.dialogform select:hover, .dialogform input:hover, .dialogform textarea:hover {
    background-color: rgba(0, 0, 0, 0.03)
}

div.stub {
    height: 208px;
    margin: 15px;
    width: 410px
}

@media only screen and (max-width: 45em) {
    div.stub {
        width: 100%;
        margin: 10px 0px;
        height: initial
    }
}

div.stub h1 {
    background-color: #9a0008;
    color: white;
    padding: 10px;
    margin: 0px
}

div.stub img {
    height: 104px;
    width: 100%;
    margin: 0px;
    border: 0px
}

@media only screen and (max-width: 45em) {
    div.stub img {
        width: 100%;
        height: initial
    }
}

div.stub p {
    padding: 10px;
    color: white;
    background-color: #c30811
}

body > header {
    flex: 1 1 100%;
    background-color: #fff;
    z-index: 3;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 1%
}

body > header img {
    height: 10.0rem;
    width: auto
}

body > header #eestec-text {
    height: 5.0rem
}

body > header #signin div {
    display: flex;
    justify-content: space-between
}

body > header #signin a {
    color: blue;
    text-align: left;
    font-size: 1.0rem
}

body > header #signin input, body > header #signin a {
    width: 95%;
    margin: 0.5rem
}

body > header #signin input[role=button], body > header #signin a {
    text-align: center;
    width: 13.8rem;
    font-size: 1.6rem;
    padding: .1rem;
    color: #fff;
    font-family: "Century Gothic";
    border-radius: .4rem;
    border: none;
    display: block;
    background-color: #9a0008;
    cursor: pointer
}

body > header #signin a {
    padding: 4px
}

@media only screen and (max-width: 45em) {
    #userarea {
        width: 4rem;
        z-index: 100;
        position: fixed;
        top: 0px;
        right: 4.5rem;
        height: 4rem
    }

    #userarea figure, #userarea a, #userarea img {
        background-color: #fff;
        width: 4rem;
        height: 4rem
    }

    #userarea figcaption {
        display: none
    }
}

#nav {
    flex: 1 1 100%;
    z-index: 10
}

#nav a {
    color: #fff;
    z-index: 100
}

@media only screen and (max-width: 45em) {
    #nav {
        order: -1
    }

    #nav:not(:target) > a:first-of-type, #nav:target > a:last-of-type {
        display: flex;
        justify-content: center;
        align-items: center
    }

    #nav:target > ul {
        display: block
    }

    #nav:target > a {
        display: none
    }
}

#nav > a {
    display: none
}

@media only screen and (max-width: 45em) {
    #nav > a {
        position: fixed;
        top: .0rem;
        right: .0rem;
        height: 41px;
        width: 41px;
        margin: 2px;
        color: #fff;
        background-color: #ee1f29
    }

    #nav > a svg {
        margin: auto;
        fill: #fff
    }
}

#nav > ul {
    border-bottom: 0.1rem solid #ee1f29;
    border-top: 0.1rem solid #ee1f29;
    align-items: center;
    font-family: "Century Gothic"
}

@media only screen and (max-width: 45em) {
    #nav > ul {
        display: none;
        position: fixed;
        top: 0rem;
        left: .0rem;
        right: 0px
    }
}

@media only screen and (min-width: 45em) {
    #nav > ul {
        height: 5.5rem
    }
}

#nav > ul > li {
    background-color: #c30811;
    position: relative;
    flex: 1
}

#nav > ul > li:last-child {
    flex: 2
}

@media only screen and (max-width: 45em) {
    #nav > ul > li {
        width: 100%
    }

    #nav > ul > li:first-child > a {
        display: block;
        background-color: #ee1f29;
        border-bottom: 3px white solid
    }
}

#nav > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6rem;
    height: 100%
}

@media only screen and (max-width: 45em) {
    #nav > ul > li > a {
        padding: 11px;
        justify-content: flex-start;
        border-bottom: 1px white solid
    }
}

#nav > ul > li > a:hover {
    background-color: #ee1f29
}

#nav > ul > li:hover ul {
    display: block
}

@media only screen and (max-width: 45em) {
    #nav > ul > li:hover ul {
        display: none
    }
}

#nav > ul > li ul {
    display: none;
    top: 5.5rem;
    position: absolute;
    left: .0rem;
    right: .0rem
}

#nav > ul > li ul li {
    display: block;
    padding: .5rem;
    background-color: #fa4b54
}

#nav > ul > li ul li:hover {
    background-color: #fc737a
}

#nav > ul form {
    flex: 2 1 20.0rem;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #c30811;
    margin: 30px
}

@media only screen and (max-width: 45em) {
    #nav > ul form {
        display: none
    }
}

#nav > ul form div {
    height: 3.0rem;
    padding: .3rem;
    background-color: #9a0008;
    display: flex;
    border-radius: .5rem
}

#nav > ul form div input {
    background-color: #9a0008;
    color: #fff;
    border: none;
    width: 200px;
    font-size: 2.5rem
}

#nav > ul form svg {
    align-self: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #9a0008;
    fill: #fff
}

body > footer {
    font-family: "Century Gothic";
    background-color: #465052;
    height: 15.2rem;
    flex: 1 1 100%;
    position: relative;
    justify-content: space-between;
    align-items: center
}

@media only screen and (max-width: 45em) {
    body > footer {
        height: 10.0rem
    }
}

body > footer div.social {
    margin-right: 100px
}

@media only screen and (max-width: 45em) {
    body > footer div.social {
        margin: auto
    }
}

body > footer div.social svg.social {
    height: 3.0rem;
    width: 3.0rem;
    fill: white;
    padding: 1.0rem;
    margin: 10px;
    background-color: #c30811
}

@media only screen and (max-width: 45em) {
    body > footer div.social svg.social {
        height: 2.0rem;
        width: 2.0rem;
        margin: 1px
    }
}

body > footer div.social p {
    flex: 1 1 100%;
    color: #fff;
    padding: 1.0rem
}

body > footer img {
    height: 100%;
    position: absolute;
    top: .0rem;
    left: .0rem
}

@media only screen and (max-width: 45em) {
    body > footer img {
        height: initial;
        width: 100%
    }
}

body > footer nav {
    z-index: 10
}

body > footer nav a {
    color: #fff;
    text-decoration: none
}

@media only screen and (max-width: 45em) {
    body > footer nav {
        display: none
    }
}

body > footer nav > ul {
    padding-top: 1.0rem;
    align-items: flex-start
}

body > footer nav > ul > li {
    display: block;
    padding: 15px;
    text-align: center
}

body > footer nav > ul > li h3 {
    border: initial;
    text-align: center
}

body > footer nav > ul > li ul {
    display: block
}

body > footer nav > ul > li ul li {
    justify-content: center
}

.animate {
    transition: all 0.1s;
    -webkit-transition: all 0.1s
}

.action-button {
    position: relative;
    padding: 1.0rem 4.0rem;
    border-radius: 1.0rem;
    font-size: 2.5rem;
    color: #FFF;
    text-decoration: none
}

.action-button:active {
    transform: translate(0rem, 0.5rem);
    -webkit-transform: translate(0rem, 0.5rem);
    border-bottom: .1rem solid
}

.blue {
    background-color: #3498DB;
    border-bottom: .5rem solid #2980B9;
    text-shadow: .0rem -.2rem #2980B9
}

.red {
    background-color: #E74C3C;
    border-bottom: .5rem solid #BD3E31;
    text-shadow: .0rem -.2rem #BD3E31
}

.green {
    background-color: #82BF56;
    border-bottom: .5rem solid #669644;
    text-shadow: .0rem -.2rem #669644
}

.yellow {
    background-color: #F2CF66;
    border-bottom: .5rem solid #D1B358;
    text-shadow: .0rem -.2rem #D1B358
}

#twitter svg:hover {
    background-color: #00aced
}

#youtube svg:hover {
    background-color: #bb0000
}

#facebook svg:hover {
    background-color: #3b5998
}

#linkedin svg:hover {
    background-color: #007bb6
}

#googleplus svg:hover {
    background-color: #dd4b39
}

ul.figure {
    justify-content: center
}

a.figure {
    padding: 2px;
    margin: 1px;
    text-decoration: none;
    background-color: #354040;
    display: flex;
    flex-wrap: wrap
}

a.figure figure {
    flex: 1 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .25s
}

a.figure figure img {
    position: absolute;
    top: 0px;
    left: 0px
}

a.figure figure figcaption {
    opacity: 0.9;
    flex: 1 1 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 20px 0px;
    font-family: "Century Gothic";
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all .5s
}

a.figure figure:hover {
    z-index: 10;
    transform: scale(1.2)
}

a.figure figure:hover figcaption {
    background-color: rgba(0, 0, 0, 0.5)
}

a.figure .comment {
    font-size: 12px;
    line-height: 100%;
    color: #ffffff
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10
}

article h1 {
    align-self: flex-start
}

article header {
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 10px
}

article header .pictures, article header img {
    width: 37.5rem;
    height: 22.5rem
}

@media only screen and (max-width: 45em) {
    article header .pictures, article header img {
        width: 100%
    }
}

article header .details {
    min-width: 40.0rem
}

@media only screen and (max-width: 45em) {
    article header .details {
        min-width: initial;
        margin-top: 10px;
        width: 100%
    }
}

article header .details tr {
    margin-bottom: 1.5rem;
    border-bottom: 0.1rem #c30811 solid
}

article header .details tr td:first-child {
    font-size: 1.8rem;
    font-weight: bold;
    color: #c30811;
    font-family: "Century Gothic"
}

article header .details tr:last-child {
    height: 5.5rem;
    border: none
}

article .actions {
    text-align: center
}

article .actions form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

article details {
    align-self: flex-start;
    width: 100%
}

a.member {
    width: 19.1rem;
    height: 12.6rem
}

a.member figure {
    width: 19.1rem;
    height: 12.6rem
}

div.team {
    height: 300px
}

#map {
    width: 80%;
    height: 35.0rem
}

a.event {
    width: 151px
}

a.event figure, a.event img {
    width: 151px;
    height: 111px
}

section.events {
    margin: 3px
}

#transport-wrapper p {
    display: flex;
    justify-content: space-between
}

a.eestecer {
    width: 10.0rem;
    height: 10.0rem
}

article.eestecer .details {
    justify-content: flex-start
}

main.home {
    display: flex;
    flex-wrap: wrap;
    background: none;
    padding: .0rem .1rem .0rem .0rem;
    box-shadow: none;
    justify-content: center;
    max-width: 128.0rem
}

@media (max-width: 1000px) {
    main.home {
        padding: 1px
    }
}

main.home h1 {
    color: #fff;
    text-align: center;
    left: .0rem;
    height: 2.0rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    border: .0rem;
    padding: .5rem;
    margin: .0rem
}

main.home p {
    padding: 0.1rem .5rem
}

main.home #donate {
    font-family: "Century Gothic";
    flex: 1 0 45%;
    min-height: 10.0rem
}

@media (max-width: 1000px) {
    main.home #donate {
        order: 3;
        flex: 1 1 100%;
        min-height: 0;
        padding: 10px
    }
}

main.home #donate .wrapper {
    flex: 1 1 100%;
    width: initial;
    padding: initial;
    text-align: center;
    padding: 3.0rem;
    width: 15.0rem
}

@media (max-width: 1000px) {
    main.home #donate .wrapper {
        flex: 1 1 100%;
        width: initial;
        padding: initial
    }
}

main.home #donate .wrapper a {
    display: block;
    background-color: #c30811;
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
    padding: .4rem 1.0rem;
    font-weight: bolder
}

main.home #newsletter {
    flex: 1 0 45%;
    font-family: "Century Gothic";
    min-height: 10.0rem;
    position: relative
}

@media (max-width: 1000px) {
    main.home #newsletter {
        order: 4;
        flex: 1 1 100%;
        width: initial;
        min-height: 0;
        padding: 10px
    }
}

main.home #newsletter form {
    font-family: "Century Gothic";
    text-align: center;
    padding: 3.0rem .0rem;
    width: 45.0rem;
    position: absolute;
    right: .0rem;
    bottom: .0rem
}

@media (max-width: 1000px) {
    main.home #newsletter form {
        flex: 1 1 100%;
        width: initial;
        padding: initial;
        position: initial;
        display: flex
    }

    main.home #newsletter form input {
        font-family: "Century Gothic";
        flex: 1
    }
}

main.home #newsletter form input.submit {
    border: none;
    background-color: #c30811;
    font-family: "Century Gothic";
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
    padding: .4rem 1.0rem;
    font-weight: bolder
}

main.home nav {
    flex: 1 1 15%;
    color: white;
    min-height: 10.0rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.3rem;
    background-color: #465052
}

main.home nav p {
    display: flex;
    text-align: justify;
    padding: 10px
}

@media screen and (min-width: 1200px) {
    main.home nav p {
        padding: 20px
    }
}

main.home nav h1 {
    flex: 1 1 100%
}

@media screen and (max-width: 1000px) {
    main.home nav {
        flex: 1 1 100%
    }
}

main.home #preview {
    flex: 1 1 85%;
    height: 48.0rem;
    position: relative
}

@media screen and (max-width: 1000px) {
    main.home #preview {
        flex: 1 1 100%;
        height: initial
    }
}

main.home #preview > h1, main.home #preview h2 {
    color: #fff;
    text-align: center;
    width: 100%;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0
}

main.home #preview footer {
    position: absolute;
    bottom: .0rem;
    right: .0rem;
    display: flex;
    height: 20%;
    overflow: hidden;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff
}

@media screen and (max-width: 1000px) {
    main.home #preview footer {
        height: initial
    }
}

main.home #preview footer h1, main.home #preview footer h2 {
    text-align: left;
    border-bottom: .1rem solid #fff;
    margin-bottom: .3rem;
    padding-bottom: .3rem
}

@media screen and (max-width: 1000px) {
    main.home #preview footer p {
        display: none
    }
}

main.home #preview footer main {
    flex: 1 1 50%;
    display: flex
}

main.home #preview footer aside {
    flex: 1 1 20%;
    background-color: rgba(195, 8, 17, 0.75);
    margin: 1.0rem;
    padding: .2rem;
    display: inline
}

@media screen and (max-width: 1000px) {
    main.home #preview footer aside {
        display: none
    }
}

main.home #preview footer aside h2 {
    background: none;
    padding: .0rem;
    margin: .0rem
}

main.home #preview footer aside a {
    padding-left: .2rem;
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: bold
}

main.home #preview img, main.home #preview .pictures, main.home #preview #news {
    position: relative;
    width: 100%;
    height: 48.0rem
}

@media screen and (max-width: 1000px) {
    main.home #preview img, main.home #preview .pictures, main.home #preview #news {
        height: initial
    }
}

section.news {
    display: flex;
    flex-wrap: wrap;
    padding: 5px
}

section.news > ul {
    flex: 1 1 100%;
    justify-content: flex-start
}

section.news img {
    padding: 0px 30px 0px 30px
}

section.news p, section.news div {
    font-size: 1.2rem;
    flex: 1 1
}

section.news a {
    color: blue
}

a.news {
    width: 150px;
    height: 150px
}

.ui-timepicker-div .ui-widget-header {
    margin-bottom: .8rem
}

.ui-timepicker-div dl {
    text-align: left
}

.ui-timepicker-div dl dt {
    float: left;
    clear: left;
    padding: 0 0 0 .5rem
}

.ui-timepicker-div dl dd {
    margin: 0 1.0rem 1.0rem 45%
}

.ui-timepicker-div td {
    font-size: 90%
}

.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0
}

.ui-timepicker-rtl {
    direction: rtl
}

.ui-timepicker-rtl dl {
    text-align: right;
    padding: 0 .5rem 0 0
}

.ui-timepicker-rtl dl dt {
    float: right;
    clear: right
}

.ui-timepicker-rtl dl dd {
    margin: 0 45% 1.0rem 1.0rem
}

article.activities {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px
}

ul.people li {
    flex: initial
}

#dialogform li {
    height: initial
}

.thumbnails li {
    flex: initial
}

div.thumbnail {
    text-align: center
}

section.history ul {
    width: 100%;
    justify-content: flex-start
}

section.history ul li {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2px 20px
}

section.history details {
    width: 100%
}

section.history details p {
    padding: 10px
}

.static {
    flex: 1 1 100%;
    z-index: 1;
    padding: 0 5%;
    display: block
}

.static h1 {
    margin: 10px 0px 5px 0px
}

.static h2 {
    margin: 0 2% 3px 2%;
    width: 60%
}

.static p {
    padding: 0 5%
}

.static a {
    color: blue
}

div.websitefeedback {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

div.websitefeedback p {
    flex: 1 1 100%;
    text-align: center
}

div.websitefeedback input, div.websitefeedback textarea {
    border-radius: 15px;
    border-style: none;
    padding: 10px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.02)
}

div.websitefeedback input[type="submit"], div.websitefeedback textarea[type="submit"] {
    background-colr: rgba(0, 0, 0, 0.05)
}

div.websitefeedback input:hover, div.websitefeedback textarea:hover {
    background-color: rgba(0, 0, 0, 0.03)
}

div.websitefeedback form {
    text-align: center
}

div.websitefeedback form p {
    text-align: left
}

main.wiki {
    padding: 0% 5% 5% 5%
}

main.wiki h1 {
    display: flex;
    justify-content: space-between
}

main.wiki h1 nav a {
    color: #000000;
    font-size: 12px;
    padding: 0px 20px
}

main.wiki body, main.wiki span, main.wiki nav, main.wiki header, main.wiki main {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%
}

main.wiki nav {
    flex: 1 1 20%;
    align-items: flex-start;
    border-right: 1px solid #c30811
}

main.wiki nav ul {
    justify-content: flex-start;
    border-bottom: 1px solid black;
    padding: 2px;
    margin: 2px
}

main.wiki nav ul li {
    flex: 1 1 100%;
    justify-content: flex-start;
    padding: 3px
}

main.wiki nav ul li a {
    font-size: 14px;
    color: black
}

main.wiki ul.latest {
    flex: 1 1 100%
}

main.wiki ul.latest li {
    justify-content: space-between;
    flex: 1 1 100%
}

main.wiki ul.latest li span {
    flex: 1 1 30%;
    justify-content: flex-end
}

main.wiki ul.latest li a {
    color: blue;
    text-align: left;
    font-size: 16px
}

main.wiki main {
    flex: 1 1 75%;
    display: block;
    min-height: 600px;
    padding: 5px
}

a {
    text-decoration: none
}

.board {
    flex-direction: row;
    align-items: flex-start;
    padding: 20px
}

.board a {
    margin: auto
}

.board h4 {
    height: 50px
}

.board div {
    flex: 1 1 20%
}

.board div p {
    padding-top: 5px
}
