{% extends 'enet/split.html' %}
{% load thumbnail %}
{% load staticfiles %}
{% block main %}
    <h1> About Us</h1>
    <article class="activities">

        <div class="stub">
            <h1>Inernational News</h1>
            <img src="{% static 'enet/images/news.jpg' %}">

            <p>Check out the freshest developments concerning the organization.</p>
        </div>
        <div class="stub">
            <h1>History of EESTEC</h1>
            <img src="{% static 'enet/images/history.jpg' %}">

            <p> For the historically interested, here is a complete record of our
                past.</p>
        </div>
        <div class="stub">
            <h1>Official Documents</h1>
            <img src="{% static 'enet/images/documents.jpg' %}">

            <p>Papers setting the rules and visions of our association.</p>
        </div>
        <div class="stub">
            <h1> Map of the network</h1>
            <img src="{% static 'enet/images/map.jpg' %}">

            <p>Check out the geographical breadth of our committees, it's amazing.</p>
        </div>
        <div class="stub">
            <h1>Governing Bodies</h1>
            <img src="{% static 'enet/images/governance.jpg' %}">

            <p>The governing principles and powers in EESTEC are explained here.</p>
        </div>
    </article>
{% endblock %}
