{% extends 'enet/split.html' %}
{% load thumbnail %}
{% load staticfiles %}
{% block main %}
    <h1> Activities of the Association</h1>
    <article class="activities">

        <div class="stub">
            <h1>International Teams</h1>
            <img src="{% static 'enet/images/teams.jpg' %}">

            <p>EESTEC works in teams to move the world, see which teams we have, what we
                do, and how you can contribute!</p>
        </div>
        <div class="stub">
            <h1>Events organized by EESTEC</h1>
            <img src="{% static 'enet/images/events.jpg' %}">

            <p> We bring students together in Europe, to socialize, explore and educate.
                See if there are events that interest you.</p>
        </div>
        <div class="stub">
            <h1>The EESTEC Conference</h1>
            <img src="{% static 'enet/images/conference.jpg' %}">

            <p>In January 2014 our Committee in Budapest organized the first
                EESTEC International Conference. Check out the results.</p>
        </div>
        <div class="stub">
            <h1> EESTEC Competition for Android</h1>
            <img src="{% static 'enet/images/competition.jpg' %}">

            <p>The fourth iteration of the successful EESTEC Competition for Android is
                coming up soon.
                Sign up with your idea and win.</p>
        </div>
    </article>
{% endblock %}
