<div class="post">
    <h1 class="post_title">Contact</h1>
    <ul class="post_info">
    <div class="post_content">
        <p>Interested in our Soft Skills trainings?</p> 
        <p>Please don't hesitate to contact the eestec Training Team if you would like to request trainings for your organization!<br>
        Also have a look at the materials section. You can find information on what we offer.<br>
        We hope to hear from you soon</p>
        <p>Interested in joining the Training team?</p> 
        <p>The training team is always looking for eestec members who are willing to go beyond and who would like to commit themselves to the cause of educating people and sharing their knowledge. <br>
        If you are interested in joining the training team, you can find more information in the Materials section.</p> 
        <p>Having trouble with the website?</p> 
        <p>The training team constantly strives for improvement and every feedback on this trt will help us. Please don't hesitate to report anything that doesn't work as you think it should.<br>
        If you have an idea how to make this trt even better, please let us know!</p> 
        <p>Training Team Coordinator: trainings-coordinator@eestec.net</p>
        <p>Plaform Coordinator: s.s.wozny@gmail.com</p>
    </div>
</div>
