{% extends 'enet/split.html' %}
{% block main %}
    <section class="history">
    <h2>Short History of EESTEC:
    </h2>

    <h3>EURIELEC</h3>

    <p>
        The idea of creating a European student organization for electrical engineering
        students was born in 1958, but preparation meetings started in 1963 in Paris,
        France.
        EURIELEC was founded in Berlin in 1964, with goals such as promoting contacts and
        practical work between foreign students of electrical engineering and also,
        exchanging information for study possibilities and excursions with other EE
        faculties. Official language of EURIELEC was French, and on the Congress in 1968
        it was changed to English.
    </p>
    <details>
        <summary>EURIELEC Congresses
        </summary>
        <p>
        <ul>
            <li> 1966 Delft, The Netherlands
            </li>
            <li>1967 Paris, France</li>
            <li>1968 Berlin, Germany
            </li>
            <li>1969 Madrid, Spain</li>
            <li>1970 Eindhoven, The Netherlands
            </li>
        </ul>
    </details>
    <h3>EESTEC</h3>

    <p> By 1984 the EESTEC idea was born. In the year 1985, representatives of three
        Dutch student guilds ETV (Delft), Thor (Eindhoven) and Scintilla (Enschede)
        forming the Committee for International Contacts (CIC) wrote a letter to old
        EURIELEC NatComs. It said that "From 1966 until 1971 there has existed a European
        Association of Electrical Engineering Students (EURIELEC). During this time, the
        student movement changed. The association died, according to the statutes. Your
        student association was a member of this Eurielec.".
        They claimed in that letter to set up a new association with EURIELEC formers,
        "under the umbrella of an existing association like IEEE or ERUEL". They said
        they were thinking about an annual meeting in one of the associated countries.
        <em>1986</em> FirstCongress in Eindhoven, The Netherlands
        The first EESTEC Congress was organized in 1986 in Eindhoven, the Netherlands. It
        was arranged for 50 participants coming from 33 different cities in 17 different
        European countries. It seems there were not at that time Local Committees,
        introduced the year after with the old name of NatCom, which is National
        Committee.</p>
    <details style="width=100%;">
        <summary>EESTEC Congresses</summary>
        <p>
        <ul>
            <li>1986 LC Eindhoven, The Netherlands</li>
            <li>1987 LC Nova Gorica/Ljubljana</li>
            <li>1988 LC Lisbon and LC Aveiro</li>
            <li>1989 LC Budapest</li>
            <li>1990 LC Zurich</li>
            <li>1991 LC Vienna</li>
            <li>1992 LC Madrid</li>
            <li>1993 LC Budapest</li>
            <li>1994 LC Aachen</li>
            <li>1995 LC Zurich</li>
            <li>1996 LC Aachen</li>
            <li>1997 LC Tampere and LC Helsinki</li>
            <li>1998 LC Reggio Emilia</li>
            <li>1999 LC Ljubljana</li>
            <li>2000 LC Delft</li>
            <li>2001 LC London</li>
            <li>2002 LC Budapest</li>
            <li>2003 LC Cosenza</li>
            <li>2004 LC Belgrade</li>
            <li>2005 LC Madrid</li>
            <li>2006 LC Sofia</li>
            <li>2007 LC Budapest</li>
            <li>2008 LC Ljubljana and LC Rijeka</li>
            <li>2009 LC Belgrade and LC Sarajevo</li>
            <li>2010 LC Athens</li>
            <li>2011 LC Craiova</li>
            ·
            <li>2012 LC</li>
            <li>2013 LC Athens</li>
            <li>2014 LC Madrid</li>
        </ul>
        </p></details>
    <h2>Detailed History of EESTEC</h2>

    <p>In 1962 and 1963, electrical engineering students from several European countries
        met in Paris and examined the possibilities of creating an electrical engineering
        student association. The main goals had to be a better cooperation in obtaining
        jobs during summer in companies of that sector and organizing international
        student meetings. At that time, it couldn't be created because French students
        had to create a unique national organization in order to get industry support.
        In 1964 Berlin Electro technical Faculty invited 18 European universities
        representants to meet in Berlin during December to discuss problems that could be
        arise in the face of creating a European association. In the last General
        Assembly, EURIELEC was founded and Herman van de Vijer was elected as chairman.
        He organized 1st EURIELEC Congress in Delft, in November 1965. Thanks to Dutch
        industry generous support and board of directors and teaching staff.
    </p>
    <details>
        <summary>1958</summary>
        <p>
            From: ETV Yearbook 1966 article by Kees Wittebrood
            The first try to start a European organization of electrical engineering
            students was already in 1958, but this attempt failed, because the basis
            alone of the organization, the cooperation between Germany and France, was
            too instable.
        </p></details>
    <details>
        <summary>1963</summary>
        <p>
            Eurielec founding in Berlin, 14th of December 1964. The founders were
            national committees of France, Germany, Italy, The Netherlands, Norway,
            Switzerland and Yugoslavia, together representing 18 schools of technology.
            Mr. H.J.M. van de Vijver, a representative of ETV Delft, is chosen to be the
            first chairman.
            The goals of the association are:
            1. Promoting contacts between foreign students electrical engineering;
            2. Exchanging information for study possibilities and excursions with other
            schools of technology;
            3. Promoting practical work in foreign countries and its possibilities;
            4. Coordinating activities of the members, the student guilds
        </p></details>
    <details>
        <summary>1966</summary>
        <p>
            During the first congress of EURIELEC, held 5th-12th of November 1966 in
            Delft, the organizing committee welcomed the participants wearing a jacket, a
            typical students' outfit in The Netherlands. In the second meeting of the
            congress, the following new members were accepted:
            Belgium: Gent (Gand), Spain: Madrid, Germany: Karlsruhe and Stuttgart,
            Yugoslavia: Belgrade.
            The program of this first congress consisted of meetings, a series of six
            'EURIELECTURES' about 'the computer and its applications' and several
            excursions. Of course, the culture and food were also experienced by the
            participants. At the end of the congress Mr. Jean Niviox from Paris was
            elected as the new chairman.
        </p></details>
    <details>
        <summary>1967</summary>
        <p>
            From: ETV Yearbook 1967 article by R. van Wouwe.
            The second congress was held in Paris, from Friday the 4th of November 1967.
            Not much is told about the meetings, except that Scintilla, the student guild
            hosting LC Twente nowadays, was accepted as a new member. Strange enough only
            the parties were remembered, because some things are said about a French
            'boum' and another party, the 'aqua boum', which was a party on a boat. The
            new chairman was elected from the Berlin delegation: Hanswerner Voss.
        </p></details>
    <details>
        <summary>1968</summary>
        <p>
            From: ETV Yearbook 1968 article by T. de long.
            The third congress (from 21st of October 1968) had two major elements:
            working time and free time. The free time was mostly filled by visiting a
            'bier stube'. The working time were the meetings. One of the discussions held
            was about the official language of EURIELEC. In this discussion, the French
            delegation, afraid of the loss of their culture, resisted with all their
            power against the use of the English language. No solution was found.
            Siemens, Springer (publications), A.E.G. and Conti Electro were visited, as
            well as the impressive university. Berlin had organized the 'EURIELEC ball',
            and thanks to a 'notruf' by a local radio station, eventually there were
            enough girls. The elections were not hard and José Miguel Mata Cabezón from
            Madrid became the new chairman.
        </p></details>
    <details>
        <summary>1969</summary>
        <p>
            From: ETV Yearbook 1969 article by T. de long
            Since the first congress, Czecho-Slovakia, Austria and Sweden were accepted
            as members. This time, the fourth congress was held in Madrid, starting 20th
            of April 1969. During this congress the publication of a magazine was one of
            the decisions made, as well as founding a bureau, to coordinate the
            distribution of documentation. After a long discussion, the decision about
            the next congress location was made. Not in Prague as planned, but in
            Eindhoven.
        </p></details>
    <details>
        <summary>1970</summary>
        <p>
            From: ETV Yearbook 1970 article by H.O. Laken
            Added to the members' list of 35 connected associations from 13 countries is
            Finland. The congress was held from 6th-13th of July 1970. A long discussion
            was held about a proposition by the delegates of Munich, Karlsruhe and
            Harmover, who visited the congress with an assignment by their members. Their
            proposition was to add to the statutes to promote the exchange information
            about student politics and responsibility. Some members thought that this was
            in conflict with the being a non-political organization. Eventually a neutral
            formulation was chosen satisfactory to everybody, especially the three German
            members.
            Another three members joined the association: Bratislava, Sarajevo and
            Helsinki. The Greek were not accepted due to a too big number of empty votes.
            The next congress will be held in Prague, where they can try again.
            The congress was concluded with a tasteful 'diner dansant' where some
            old-EURIELEC-ers founded the group 'friends of EURIELEC'.
        </p></details>
    <details>
        <summary>1972</summary>
        <p>
            From: EESTIC 1986 report, IB archive
            After the last conference in Eindhoven the organization changed to
            Czechoslovakia. They were not able to organize it that time and West-Germany
            took over. But the organization there only succeeded in sending invitations.
            The participants went home without any discussion or result: there was no
            congress and no further initiatives.
        </p></details>
    <details>
        <summary>1977</summary>
        <p>
            From: IB archive
            The congress organized by EUREL and IEEE is held in Venice, May 1977. Three
            students from The Netherlands were sent to Venice by KiVI (The Dutch
            engineers association). A discussion is programmed on behalf of electrical
            engineering students about the relation engineering associations versus
            student/young engineer.
            Students are able to join this conference with financial support from the
            national engineering associations. EUREL offered to do the same at its next
            conference, but there were no new initiatives in the next years.
        </p></details>
    <details>
        <summary>1984</summary>
        <p>
            In 1984 a discussion is raised between the boards of the three above
            mentioned student associations. There is a need for more contacts with
            students when visiting other European countries. This is thought to be a
            crucial point in a better understanding of a nation, its culture and
            technology. To improve student possibilities in gaining experience for his
            carreer is proved to be very difficult, as there is no European structure for
            this purpose.
            In 8th January, 1985, representants of three Dutch student guilds ETV
            (Delft), Thor (Eindhoven) and Scintilla (Enschede) forming the Committee for
            International Contacts (CIC) wrote a letter to old EURIELEC NatComs. It said
            that "From 1966 until 1971 there has existed a European Association of
            Electrical Engineering Students (EURIELEC). During this time the student
            movement changed. The association died, according to the statutes (Chapter 6.
            article 34 of the statutes dated July 12, 1969). Your student association was
            a member of this Eurielec."
            They claimed in that letter to set up a new association with EURIELEC
            formers, "under the umbrella of an existing association like IEEE or ERUEL".
            They said they where thinking about:
            · An annual meeting in one of the associated countries;
            · Assistance with the organizing of student visits abroad;
            · Assistance with creating studies for foreign students at their own
            university;
            · Exchange of study-programs;
            · Providing practical training places for foreign students;
            They asked for each student guild opinion of (the board of) regarding that
            plan. And finally the CIC invited those students guilds to the International
            Congress for Electrical Engineering Students in the Netherlands from April
            27th to May 3rd of 1986 where EESTEC born on Friday, May 3rd 1986 in the
            Peace Palace, The Hague.
            From: ETV Yearbook 1988 article
            "It is already 1,5 years ago that a first conference between European
            Electrical Engineering students, the EESTEC '86 (Electrical Engineering
            STudents' European Conference), took place in The Netherlands. This
            conference has been the initiative of the three Dutch student guilds and had
            its origin in the 'European thought'. The results of this conference have
            been very positive. Decided was to organize an equal kind of conference in a
            different European country every year.
            The yearly character of the EESTEC has been guaranteed by now, since the
            EESTEC '87 in Yugoslavia has been very successful. An evaluation was done on
            European cooperation of the last year and some agreements have been made for
            the next year. Thanks to the international workshops preceding the EESTEC
            '87, good agreements could be made. It looks like that the EESTEC '88 to be
            held in Portugal will have a positive result as well.
            The creation of the national committees that foster the international
            contacts, resulted in the Netherlands in the CIC (Committee of International
            Contacts). In this committee students from Delft, Eindhoven and Twente
            operate under supervision of the three student guilds ETV, Thor and
            Scintilla. The committee meets often to discuss the working on the agreements
            made during the conference, and of course to foster the international
            contacts and to gain new ones.
            The activities concerning the CIC right now are investigation the exchange of
            internship- and studies exchanges, excursion-exchanges and propaganda. On
            international level the CIC helps other countries to start a similar
            committee. Concerning the exchanges contacts have been made with the Dutch
            faculties and with Yugoslavia. So far, the CIC has helped Belgian students,
            who have started a similar committee. Also, by attending the preparing
            workshops and corresponding with the organization, the CIC helps develop the
            EESTEC.
            For all these activities good ideas have arisen. We now know, more than 1,5
            years ago, where to we are headed. The organization of the EESTEC 1986 has
            been, with a lot of active students who have cooperated. Now, we should see
            to it that with the new ideas and activities, new people keep building on the
            Dutch initiative, the EESTEC, and make sure that the European thought remains
            alive in The Netherlands and in Europe".
        </p></details>
    <details>
        <summary>1986</summary>
        <p>
            From: Aachen Archive
            It was 1986 when the first EESTEC Congress was organized in Eindhoven, the
            Netherlands. It was organized for 50 participants coming from 33 different
            cities in 17 different European countries. It seems there were not at that
            time Local Committee, introduced the year after with the old name of NatCom,
            that is National Committee.
            The countries most represented were West Germany and Finland with four cities
            and Belgium, Italy and the Netherlands with three cities. Looking at the list
            of cities participating, we can find which are the oldest EESTEC members:
            · Vienna from Austria
            · Oulu, Tampere from Finland
            · Paris from France (just reactivated in the last Congress!)
            · Budapest from Hungary
            · Delft, Eindhoven from The Netherlands
            · Krakow from Poland
            · Zurich from Switzerland
            · Madrid from Spain
            · Ljubljana from Yugoslavia (Slovenia got its independence in 1991)
            None of the four German cities (Bochum, Braunschweig, Heiligerhaus,
            Kaufering) and of the three Italians (Donato Milanese, Marotta, Milano) is
            still an active member.
        </p></details>
    <details>
        <summary>1987</summary>
        <p>
            From: Aachen Archive
            The second EESTEC Congress, held in Nova Gorica and in Ljubljana, seems to be
            the Congress of the National Committee creation. As we can read in the 1988
            ETV Yearbook article, this Congress was a great success. A lot of initiatives
            were started above all by the cities involved the year before. The final
            number of participants was 44, coming from 35 cities in 14 European
            countries. This is the year in which our current logo appear.
            Being held in Yugoslavia, a large number of participants was from one of the
            nine cities present at that Congress (Ljubljana, Grosuplje, Kranj, Trbovlje,
            Nova Gorica, Maribor, Sarajevo, Belgrad, Svetozarevo). Between them only
            Ljubljana became a NatCom together with Espoo (Finland), Aachen (Germany),
            Enschede (The Netherlands), Trondheim (Norway), Lisbon (Portugal), Zurich
            (Switzerland).
            There are two curiosities about this Congress:
            · the first is that as in the 13th EESTEC Congress, held again in Ljubljana,
            again with a great success, Iskra (a Yugoslavian Company) was a sponsor with
            three different branches (Delta Computers, Telematika, Avtomatika);
            · the second one is that there was also Quebec from Canada (that being a
            member of United Kingdom, belonged to Europe in 1987) between the
            participants.
            In that year there were two workshops:
            1. In Vienna (Nov. 6 – 9, 1987): 25 participants from 12 countries (Germany,
            Czech, Hungary, Yugoslavia, Poland, Italy, Greece, Belgium, Switzerland,
            Canada, The Netherlands, Austria);
            2. In Madrid (Dec. 12 – 14, 1987): 4 countries participated (Belgium,
            Portugal, Netherlands, Spain).
        </p></details>
    <details>
        <summary>1988</summary>
        <p>
            From: Aachen Archive
            The number of participants (46) and the countries involved (14) are more or
            less the same in number of the year before, but this time the participants
            came from just 22 cities. This means that EESTEC started to have less
            NatComs, but more stable and crowded. One of the observers was Rensselaer
            from U.S.A.
            It's a pity to see that good members as Lisbon, capable to organize a
            Congress, and country as Belgium, which took part to the first three
            Congresses with 5 different Universities (Brussels, Merksem, Gent, Roeselare,
            Lokern) disappeared completely during the following years although Aveiro
            still remained for a few more years.
            Very rich of life and energies EESTEC organized that year a lot of
            activities, above all in the eastern countries: Czechoslovakia and Poland.
            The Exchange appeared here, officially, for the first time.
            · Exchange in February 1987 with Finland and Switzerland
            · Exchange with Bratislava (Czechoslovakia) and Vienna (Austria)
            · Exchange with Czechoslovakia and Yugoslavia
            · Workshop in October 1987 in Otaniemi (Finland)
            · Workshop in November 1987 in Aachen (Germany)
            · Exchange between The Netherlands and Finland
            · Exchange between Yugoslavia and The Netherlands
            · May 1988 national conference in Poland
            · May 1988 workshop in Szczeczin in Poland
        </p></details>
    <details>
        <summary>1989</summary>
        <p>
            From: Aachen Archive and Newsletter 4, volume 13 Bernie Hoeneisen' s article
            During this Congress the name of our Association was born. In fact, before it
            EESTEC was EESTIC (Electrical Engineering Students' International
            Conference), then the 'i' of International became 'E' of European, and during
            one of the General Assembly the 'C' of Conference started to represent the
            word assoCiation.
            The participants of this Congress were 48, from 21 committees of 14
            countries. Brno (Czechoslovakia), Trondheim (Norway), Zagreb (Yugoslavia) are
            cities that disappeared the year after.
            From: ETV Yearbook 1990 article
            The congress of 1989 is held in Budapest, Hungary. The name of ESTEC is
            changed into Electrical Engineering Students' European assoCiation. The
            Netherlands has taken the task of chairman during that conference.
            In November 1988, three Dutch students attended to the workshop in Szczeczin,
            Poland. Topics discussed were some important suggestions to change the
            organizational structure of EESTEC. Furthermore, some new activities have
            been proposed, like making a 'Yellow page Book', in which information about
            each EESTEC NatCom and the Electrical Engineering faculties are written.
            A subcommittee is formed, which has the task to produce a poster, and all
            other countries have to as well. On the conference of Hungary this is
            presented to about 15 European countries, under whom for the first time the
            Soviet-Union. Because the ambiance in the Budapest conference is described as
            'vague', the Dutch decided to organise another workshop in October 1989.
            This workshop on Mobile Telecommunication was held from 10th till 14th of
            October in Twente and was visited by 20 foreigners from 10 different
            countries. Besides the usual meetings a symposium was organized, visited by
            130 people, and some excursions to Dutch industry were organised. Belgium
            will pick up the production again of a magazine, filled with information
            about the activities of the EESTEC. Furthermore, a book containing
            information about the important employers of Europe for electrical engineers
            will be produced.
        </p></details>
    <details>
        <summary>1990</summary>
        <p>
            From: IB archive
            This year was expected to be a promising one because of the new situation in
            Eastern Europe, we hoped to welcome new LC's, and NC's from Bulgaria, German
            Democratic Republic and Israel joined us that year. In the first general
            meeting there were problems with the activities of the board, because the LCs
            thought that they hadn't worked well, but EESTEC needed to be strongly
            represented in Europe due to the changing situation.
            There were some changes in the rules of EESTEC, first of all they accepted
            rule that propose that a candidate for Chairman should be nominated not later
            than 24 hours before the beginning of the last general meeting. 12 of 15
            participants also voted that the Chairman may appoint up to two
            vice-chairman.
            There was a discussion about accepting non European countries in EESTEC, and
            the GA decided that the incorporation of a non European country can be
            accepted only on a decision of a two-third majority in favor in a secret vote
            at the GM.
            A lot of ideas were interchanged in the newsletter, some about serious tasks
            like women in work world and some forums, and other funnier tasks like making
            EESTEC t-shirts.
            From: Aachen Archive
            After the first Congress held in a country belonged to the communist area,
            the 5th Congress, organized in Zurich for 53 participants, saw the first two
            cities of the old German Democratic Republic (Potsdam, Dresden). Included
            them 20 cities from 16 countries were present. This was the first time for
            Tel-Aviv (Israel)! And it seems to be the first time also for Helsinki
            (Finland).
            From: ETV Yearbook 1991 article
            In autumn 1990 a workshop in Czechoslovakia is organized, also visited by
            Dutch students. The next workshops will be organized in Aachen and Trondheim.
            The CIC Delft members are J.Huisman, R.Verboven, M.Widjaja.
        </p></details>
    <details>
        <summary>1991</summary>
        <p>
            From: Aachen Archive
            In 1991 there was, instead of a Congress, a Workshop in Vienna, but with the
            same procedures and purposes of a real Congress. Even if we have the Congress
            Report we don't have, at the moment, the participants' list for this event.
            We just know by ETV Yearbook Article, during this Congress there was a
            discussion about the proposal to become a registered Association.
            From: ETV Yearbook 1992 article
            Also organized an exchange with Israel end of 1991. A discussion is held to
            officially register EESTEC, in order to have a bigger chance on European
            sponsoring. To prove that useful activities are actually organized, EESTEC
            starts its first project: 'Windmills for Estonia'.
        </p></details>
    <details>
        <summary>1992</summary>
        <p>
            From: Aachen Archive
            Besides a quick appearance of Barcelona in 1988 (Lisbon Congress), Madrid has
            been the only Spanish Local Committee since the beginning up to now; so that
            in 1992 it organized its first Congress, the 7th for EESTEC: the participants
            were 37, coming from 15 cities of 13 countries.
            With this Congress it seems that Patras (Greece), after 4 years, was kicked
            off and the first Italian Committee came in: Bologna, together with Sofia
            (Bulgaria) and Tipperary (Ireland).
            From: ETV Yearbook 1993 article
            Workshops in Aachen (2), Budapest, Zurich, a project in Denmark.
        </p></details>
    <details>
        <summary>1993</summary>
        <p>
            From: Aachen Archive
            The number of participants to the EESTEC Congress, in these years, seems to
            become littler and littler. For the second Budapest Congress, after 4 years
            from the first, only 30 participants were present from some of the most
            stable LCs: Ljubljana, Madrid, Sofia, Zurich, Eindhoven, Twente, Delft,
            Bologna, Hannover, Aachen, Budapest.
            In the last GM Mail Manager VIP position was added to the RoP, the main task
            of the mail manager is holding a data file containing mail addresses and
            aliases. A communication protocol between NatComs was also developed, and the
            Yellow Pages were made in order to keep EESTEC people in contact.
            Two important texts were created, one to contact with new countries and one
            to present EESTEC to official bodies
        </p></details>
    <details>
        <summary>1994</summary>
        <p>
            From: Aachen Archive
        </p></details>
    <details>
        <summary>1994</summary>
        <p>
        </p></details>
    <details>
        <summary>1995</summary>
        <p>
            At the Zurich EESTEC Congress, EESTEC is seated in this city as a result of
            that an international bank account will soon be opened. Treasurer will be a
            new board member. This is the year when NatComs are changed by Local
            Committees, so more than one committee can become a EESTEC member in the same
            country. This Congress is also remembered in all the official documents as
            the Congress of the Official Recognition.
            The number of participants started again to rise, that year were 60, coming
            from all the LCs still active (but Stockholm and Vigo) in EESTEC. The
            students from Sevastopol (Ukraine) became new LC in that Congress.
        </p></details>
    <details>
        <summary>1996</summary>
        <p>
            From: IB archive
            The Congress Organizing Committee, LC Vienna, announced that they won't be to
            organize the Congress due to financial problems. It is a big shock fastly
            spread causing confusion, bitterness and desperation in EESTEC members. The
            problem will be solved thanks to LC Aachen, because they offered to host the
            congress instead.
            EESTEC logo as we know was accepted during this Congress and Reggio Emilia
            became new member of EESTEC.
        </p></details>
    <details>
        <summary>1997</summary>
        <p>
            From: IB archive
            This year board makes some job with RoP concerning money handling, but EESTEC
            still has problems with international sponsorship. It has been tried to get
            some funds from Youth for Europe, but it wasn't possible as EESTEC people are
            not disadvanced people. There has been cooperations between EESTEC and IEEE
            but just at local level by now.
            Concerning web pages and email addresses there will be an online EESTEC
            calendar, to help internal scheduling and organization, but @eestec.org
            addresses find out to be too expensive so it won't be available by now.
            A discussion about organizing workshops financed by EESTEC int. or even by
            participants is made, but the conclusion is that those kind of events are not
            in the vain of "the EESTEC spirit".
            Lausanne from Switzerland and Oulu from Finland are accepted as new LC's. And
            IB will be host now by Zurich.
        </p></details>
    <details>
        <summary>1998</summary>
        <p>
            From: IB archive
            This is the first year after the EESTEC International Bureau relocation from
            Budapest to Zürich. During this year the new second level domain, eestec.org,
            was acquired and both web and ftp servers were set up. A guide to keep EESTEC
            web site up-to-date in both international and local levels is created, this
            is the year when EESTEC starts to exploit Information & Comunications new
            technologies.
            During this year, Cosenza and Benevento from Italy, Malta from Malta and Graz
            from Austria applies to be observers and attends the congress. Imperial
            College from London also applies but they doesn't attend to.
            This year International Sponsoring concentrates efforts in a couple of
            European-wide companies. It's fixed a basic structure of EESTEC Alumni, with
            the creation of the alumni contact person, and Oversight Committee becomes a
            bigger role in supervising the Board.
        </p></details>
    <details>
        <summary>1999</summary>
        <p>
            From: IB archive
            Several efforts on activation and reactivation of LC were made during that
            year. For example, people was involved in activating in the French EPF high
            school, in Trondheim (Norway) and Munich (Germany). Mails were sent to the
            current LC's in order to stay in touch with them.
            During 1999, the birth of the ESGIS (EESTEC Support Group for International
            Sponsoring) took place. It contacted with many companies and organizations.
            An example of its activity was the approach to the DICR Europe (a company for
            recruting prospective employees for international companies). A new and
            bright future in collaboration and supporting activities was being devised.
            Financially, that year EESTEC made quite a bit of profit, due to the unused
            travel support of the last Congress and the LC donations with no
            disbursements. In addition, EESTEC managed to get an Euro account and to make
            the Euro the official currency of the organization (instead of the CHF).
            An internal debate was opened about the quality of the content of the
            Newsletters, because the fast rhythm of publication forced to include poor
            and short articles. Finally, a new mail alias for the observers was created,
            in order to make it easier to contact with future LC's.
        </p></details>
    <details>
        <summary>2000</summary>
        <p>
            From: IB archive
            A great number of universities (ranging up to 30) were contacted to find new
            observers. As a result of that, six people was invited to the Congress. A new
            activation package was designed, based on a CD-ROM distributed to the LCs.
            The structure of the Newsletter was divided into four main sections:
            Political, Fun, Technical and Future Events. It was decided to be published
            once a month (except August) via FTP. Every member of each LC is encouraged
            contribute writing articles for it.
            The board suggested the creation of a new EESTEC event called the TEE
            (Tournament in management and Engineering Skills). A new procedure to select
            a COC was established, following a series of steps beginning two months after
            the previous Congress. In addition, a new GM development guide was devised,
            and it was decided that a history of EESTEC should be prepared, trying to
            gather all the information together and having a workshop concerning this
            matter during the Congress.
            The problems of the junk mail and spam arise between the members of the
            mailing lists. Possible solutions are filtering the mail, forwarding it
            personally or implementing a majordomo. Much reorganization of the Alumni and
            observers mailing lists took place, as well as the birth of the new
            international web pages.
            The support and cooperation with organizations as DICR, EMDS and ESA brought
            many benefits not only to the financial aspects, but to the image and
            popularity of EESTEC.
        </p></details>

    </section>
{% endblock %}