{% extends 'enet/index.html' %}
{% load thumbnail %}
{% load staticfiles %}
{% block content %}
    <main class="home">
        <div id="donate"> <div class="wrapper">Like our Idea? <a href="#">DONATE !</a></div></div>
        <div id="newsletter">
            <div class="wrapper"> <input type="text">  <a href="#">Sign up for our Newsletter</a> </div>
        </div>
        <div id="selector">
            <h1>Are you a?</h1>
            <img src="{% static 'enet/images/student.jpg' %}" width="95px" height="95px">
            <img src="{% static 'enet/images/company.jpg' %}" width="95px" height="95px">
        </div>
        <div id="preview" class="cycle-slideshow" data-cycle-slides="li">
            <h1> Latest News</h1>
            {% for object in object_list %}
                <li id="news" >
                    <div class="pictures">
                        {% thumbnail object.entry_image "1087x480" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                    </div>
                    <footer>
                        <main>
                            <h1>{{ object.headline }}</h1>
                            <p>{{ object.content }}</p>
                        </main>
                        <aside>
                            <b>Other top Stories:</b>
                            {% for object in object_list %}
                                <p>{{   object }}</p><br/>
                            {% endfor %}
                        </aside>
                    </footer>
                </li>
            {% endfor %}
        </div>

    </main>
{% endblock %}
