{% extends 'enet/index.html' %}
{% load thumbnail %}
{% load staticfiles %}
{% block content %}
    <main class="home">
        <div id="donate"> <div class="wrapper">Like our Idea? <a href="#">DONATE !</a></div></div>
        <div id="newsletter">
            <form action="{% url 'newsletter' %}" method="POST"> {% csrf_token %}<input type="text" name="mailsub">  <input class="submit" type="submit" value="Sign up for our Newsletter"></form> </div>
        </div>
        <nav>
            <h1>Are you a?</h1>
            <a href="/students">
                <img src="{% static 'enet/images/student.jpg' %}" width="95px" height="95px">
            </a>
            <a href="/companies">
                <img src="{% static 'enet/images/company.jpg' %}" width="95px" height="95px">
            </a>
        </nav>
        <div id="preview" class="cycle-slideshow" data-cycle-slides="li">
            <h1> Latest News</h1>
            {% for object in object_list %}
                <li class="news" >
                    <div class="pictures">
                        {% thumbnail object.entry_image "1087x480" crop="center" as im %}
                            <img src="{{ im.url }}" >
                        {% endthumbnail %}
                    </div>
                    <footer>
                        <main>
                            <h1>{{ object.headline }}</h1>
                            <p>{{ object.content }}</p>
                        </main>
                        <aside>
                            <h2>Other top Stories:</h2>
                            {% for object in object_list %}
                                <a href="#">{{   object }}</a>
                            {% endfor %}
                        </aside>
                    </footer>
                </li>
            {% endfor %}
        </div>

    </main>
{% endblock %}
