{% extends 'enet/index.html' %}
{% load thumbnail %}
{% load staticfiles %}
{% block maincontent %}
    <main class="home">
        <div id="donate">
            <div class="wrapper"><p>Spot a bug?</p> <a
                    href="{% url 'website-feedback' %}">Feedback Us!</a></div>
        </div>
        <div id="newsletter">
            <form action="{% url 'newsletter' %}" method="POST">{% csrf_token %}<input
                    type="text" name="mailsub"> <input class="submit" type="submit"
                                                       value="Sign up for our Newsletter">
            </form>
        </div>
        </div>
        <nav>
            <h1>About Us</h1>

            <p>Electrical Engineering Students' European Association is an apolitical,
                non-governmental and non-profit organization which targets and trains
                through its activities students from electrical profile Universities,
                Institutes and Technical Schools in Europe. </p>
            <hr>
            <p>The association was founded in The Netherlands, in 1986. Nowadays, EESTEC
                is present in 28 countries and 53 universities across Europe with over
                6000 members of whom 3000 are currently active, and indirectly, EESTEC is
                addressing all students in the faculties that EESTEC exists.</p>
        </nav>
        <div id="preview" class="cycle-slideshow" data-cycle-slides="li"
             data-cycle-timeout="8000">
        {% for object in object_list %}
                <li class="news">
                    <div class="pictures">
                        {% thumbnail object.entry_image "1087x480" crop="center" as im %}
                            <img src="{{ im.url }}">
                        {% endthumbnail %}
                    </div>
                    <footer>
                        <main>
                            <h1 style="display:flex;justify-content: space-between;">
                                <span>{{ object.headline }}</span><span
                                    style="font-size:10px;">{{ object.pub_date }}</span>
                            </h1>

                            <p>
                                {% autoescape off %}
                                    {{ object.content|truncatewords:50 }}
                                    <a href="{% url "news" object.slug %}"
                                       style="font-weight: bold;"> Read more</a>
                                {% endautoescape %}
                            </p>
                        </main>
                        <aside>
                            <h2>Other top Stories:</h2>
                            {% for other_object in object_list %}
                                {% if other_object != object %}
                                    <a href="{% url 'news' other_object.slug %}"
                                       style="display:flex;justify-content: space-between;"><span>{{ other_object.headline }}</span><span
                                            style="font-size:10px;">{{ object.pub_date }}</span></a>
                                {% endif %}
                            {% endfor %}
                        </aside>
                    </footer>
                </li>
            {% endfor %}
        </div>

    </main>
{% endblock %}
