    <button class="home">Home</button>
    <button class="news">News</button>
    <button class="events">Events</button>
    <button class="cities">Cities</button>
    <button class="teams">Teams</button>
    <button class="account authed">My Account </button>
    <button class="admin staffed" ><a href="/admin"> Admin </a></button>
    <button class="logout authed">  Logout </button>
    <button class="signup anon"> Register
    {% include "account/register.html" %}</button>
    <button class="signin anon"> Log In
    {% include "account/login.html" %}</button>
