{% extends "enet/detail.html" %}
{% load thumbnail %}
{% block class %}event{% endblock %}
{% block pictures %}
    {% for imf in object.images.all %}
        {% thumbnail imf.image "375x225" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
    {% endfor %}
{% endblock %}
{% block details %}
    <h2>Event Name</h2><h3>{{ object.name }} </h3>
    <h2>Organizer</h2><h3>{% for oc in object.organizing_committee.all %}{{ oc }}{% endfor %}</h3>
    <h2>Date</h2> <h3>{{ object.start_date }} - {{ object.end_date }}</h3>
    <h2>Deadline</h2><h3>{{ object.deadline }}</h3>
    <h2>Maximum participants</h2> <h3>{{ object.max_participants }} </h3>
    <div class="actions">
        {% block actions %}
            {% include 'events/actions.html' %}
        {% endblock %}
    </div>
{% endblock %}
{% block more %}
    <details open>
        <summary>Description</summary>
        {% autoescape off %}
            {{ object.description }}
        {% endautoescape %}
    </details>
    <details>
        <summary>Organizers</summary>
        {% include 'account/eestecers.html' with object_list=object.organizers.all %}
    </details>
    <details>
        <summary>Participants</summary>
        {% include 'account/eestecers.html' with object_list=object.participants.all %}
    </details>
{% endblock %}