{% for event in object_list %}
    {% if event.name != "Recruitment" %}
<article class="hover" onclick="current('events');$('section.events').load('{% url 'events' %}{{ event.pk }}')">
        <div class="meta">
            <h2>{{ event.name }}</h2>
            <h3>{{ event.date }}</h3>
            <h3>{{ event.location }}</h3>
            <h3>{% for oc in event.organizing_committee.all %}{{ oc.name }}{% endfor %}</h3>
        </div>

        <div class="actions">
            <button onclick="$('.application').load('{% url 'events' %}{{ event.pk }}/apply/');$('section.application').show();history.pushState({asd:'asd'},'asdaf', '{{ event.pk }}/apply/');">Sign up!</button>
        </div>

    <p>{{ event.summary }}</p>
</article>
    {% endif %}
{% endfor %}
