/doc
/.vagrant
# Created by .ignore support plugin (hsz.mobi)
*.pyc
db.sqlite3
eestecnet/settings/secret.py
eestecnet/settings_deploy.py
tmp
media
*.log
.idea
serve
whoosh_index
static/doc
/.vagrant/machines/default/virtualbox/index_uuid
/.vagrant/machines/default/virtualbox/action_set_name
/.vagrant/machines/default/virtualbox/id
/.vagrant/machines/default/virtualbox/creator_uid
/.vagrant/machines/default/virtualbox/action_provision
/.vagrant/machines/default/virtualbox/synced_folders
/.vagrant/machines/default/virtualbox/private_key
