/.coverage
# Created by .ignore support plugin (hsz.mobi)
*.pyc
db.sqlite3
eestecnet/settings/secret.py
eestecnet/settings_deploy.py
tmp
media
*.log
apps/legacy/*.json
.idea
.vagrant
serve
whoosh_index
static/doc
!.gitkeep
node_modules/
/logs/gunicorn-error-log.txt
/logs/gunicorn-access-log.txt
bower_components/
tmp
.DS_Store
app/jspm_packages

apps/legacy/account/account_dump.json