.coverage
htmlcov
db.sqlite3
.cache
eestecnet/settings/secret.py
eestecnet/settings_deploy.py
tmp
media
*.log
apps/legacy/*.json
.idea
.vagrant
serve
whoosh_index
static/doc
!.gitkeep
node_modules/
/logs/gunicorn-error-log.txt
/logs/gunicorn-access-log.txt
bower_components/
tmp
.DS_Store
app/jspm_packages
*.pyc

apps/legacy/account/account_dump.json