amqp==1.4.6
anyjson==0.3.3
asana==0.0.5
billiard==3.3.0.19
celery==3.1.17
Django==1.7.1
django-angular==0.7.10
django-appconf==0.6
django-autoslug==1.7.2
django-backbone==0.3.2
django-celery==3.1.16
django-common==0.1.51
django-compressor==1.4
django-cors-headers==1.0.0
django-debugtools==1.2.1
django-extra-views==0.6.5
django-form-utils==1.0.2
django-froala-editor==1.2.4
django-gunicorn==0.1.1
django-haystack==2.3.1
django-helper==0.8.4
django-kombu==0.9.4
django-libsass==0.2
django-mail-queue==2.2.0
django-mptt==0.6.1
django-notify==1.1.2
django-password-reset==0.7
django-reversion==1.8.5
django-suit==0.2.12
django-suit-redactor==0.0.2
docutils==0.12
gunicorn==19.1.1
html5lib==0.999
Jinja2==2.7.3
kombu==3.0.24
libsass==0.6.2
MarkupSafe==0.23
Pillow==2.6.1
Pygments==2.0.1
pyparsing==2.0.3
python-dateutil==2.3
python-magic==0.4.6
python-memcached==1.53
python-ptrace==0.8.1
pytz==2014.10
requests==2.5.1
six==1.8.0
sorl-thumbnail==12.2
Sphinx==1.2.3
suit==2.0.2
Whoosh==2.6.0
xlwt==0.7.5
