BeautifulSoup==3.2.1
Django==1.7
Jinja2==2.7.3
Markdown==2.5.2
MarkupSafe==0.23
Pillow==2.6.1
Pygments==1.6
Pyphen==0.9.1
Sphinx==1.2.3
Whoosh==2.6.0
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
bbcode==1.0.19
celery==3.1.16
cssselect==0.9.1
django-annoying==0.8.0
django-appconf==0.6
django-autoslug==1.7.2
django-bootstrap-form==3.1
django-celery==3.1.16
django-classy-tags==0.5.1
django-common==0.1.51
django-extra-views==0.6.5
django-form-utils==1.0.2
django-froala-editor==1.2.4
django-gmapi==1.0.1
django-grappelli==2.6.2
django-gunicorn==0.1.1
django-haystack==2.3.1
django-helper==0.8.4
django-kombu==0.9.4
django-lb-attachments==0.8.3
django-mail-queue==2.1.2
django-mptt==0.6.1
django-notify==1.1.2
django-onlineuser==0.8.7
django-pagination==1.0.7
django-password-reset==0.7
django-registration==1.0
django-sekizai==0.7
django-suit==0.2.11
django-suit-redactor==0.0.2
docutils==0.12
greenlet==0.4.5
gunicorn==19.1.1
html5lib==0.999
kombu==3.0.23
libmagic==1.0
postmarkup==1.2.1
pycparser==2.10
python-magic==0.4.6
python-memcached==1.53
python-ptrace==0.8
pytz==2014.7
six==1.5.2
sorl-thumbnail==11.12.1b
suit==2.0.2
tinycss==0.3
