{% extends 'enet/figure.html' %}
{% load thumbnail %}

{% block class %}member {{ object.type }}{% endblock %}
{% block url %} {{ object.as_url }}{% endblock %}
{% block picture %}
    {% thumbnail object.thumbnail "190x125" crop="center" as im %}
        <img src="{{ im.url }}" style="width:{{ im.width }}px;height:{{ im.height }}px;"
             alt="Picture of {{ object }}"
             title="{{ object.thumbsource }} ">
    {% endthumbnail %}
{% endblock %}
{% block caption %}
    {{ object }}
{% endblock %}
