{% extends "base/prototypes/detail.html" %}
{% load thumbnail %}
{% block class %}member{% endblock %}
{% block title %}{{ object }}{% endblock %}
{% block pictures %}
    {% for imf in object.images.all %}
        {% thumbnail imf.image "375x225" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                 alt="Picture of {{ object }}">
        {% endthumbnail %}
    {% endfor %}
{% endblock %}
{% block details %}
    <!-- These are the team information -->
    {% for piece in information %}
        {{ piece }}
    {% endfor %}
    {% if may_apply %}
        <!-- If a user may apply, show the link to the modal -->
        <div class="actions">
            {% url 'eventapplication' recruitment.slug as url %}
            {% include "prototypes/modal.html" with buttontext="Join" buttonurl=url %}
        </div>
    {% endif %}

{% endblock %}
{% block more %}
    <details open>
        {% block description %}
            <summary>Description</summary>
            {% autoescape off %}
                {{ object.description }}
            {% endautoescape %}
        {% endblock %}
    </details>
    <!-- Now elastic grids, defined in the view-->
    {% for grid in grids %}
        {{ grid }}
    {% endfor %}
{% endblock %}

{% block aside %}
    {% if user in object.privileged or user.is_superuser %}
        <h2> Admin Actions</h2>
        <a href="{{ object.as_url }}description" id="board">Change Description</a>
        <!-- Render the rest of the admin options-->
        {% for option in adminoptions %}
            {{ option }}
        {% endfor %}
    {% endif %}
{% endblock %}
