<!DOCTYPE html>
{% load staticfiles %}
{% load compress %}
{% load static %}
{% include 'base/head/meta.html' %}
<!-- Page title-->
<title>
    {% block page_title %}
        EESTEC - Electrical Engineering Students' European Association
    {% endblock %}
</title>
<!-- Assets-->
<link rel="image_src" href="{% static 'enet/img/logo_square.png' %}"/>

{% compress css %}
    <!-- bower:css -->
    <!-- endbower -->
    <!-- include: "type": "scss", "files": "common/**/*.scss" -->
    <!-- include: "type": "sass", "files": "common/**/*.sass" -->
    <!-- include: "type": "css", "files": "common/**/*.css" -->
    <!-- include: "type": "scss", "files": "apps/**/*.scss" -->
    <!-- include: "type": "sass", "files": "apps/**/*.sass" -->
    <!-- include: "type": "css", "files": "apps/**/*.css" -->
{% endcompress %}
{% compress js %}
    <!-- bower:js -->
    <script src="{% static "prefixfree/prefixfree.min.js" %}"></script>
    <script src="{% static "angular/angular.js" %}"></script>
    <script src="{% static "angular-route/angular-route.js" %}"></script>
    <script src="{% static "angular-resource/angular-resource.js" %}"></script>
    <!-- endbower -->
{% endcompress %}
<!-- include: "type": "js", "files": "apps/**/*.js" -->
<!-- include: "type": "js", "files": "common/**/*.js" -->
<script type="text/javascript" src="{% static 'common/app.js' %}"></script>
{% block header %}{% endblock %}
{{ form.media }}

