<!DOCTYPE html>
{% load staticfiles %}
{% load compress %}
{% load static %}
{% include 'base/head/meta.html' %}
<!-- Page title-->
<title>
    {% block page_title %}
        EESTEC - Electrical Engineering Students' European Association
    {% endblock %}
</title>
<!-- Assets-->
<link rel="image_src" href="{% static 'enet/img/logo_square.png' %}"/>

    <!-- bower:css -->
<link rel="stylesheet" href="{% static "angular-material/angular-material.css" %}"/>
    <!-- endbower -->
{% compress css %}
    <link type="text/x-scss" rel="stylesheet" href="{% static 'common/general.scss' %}"/>
    <link rel="stylesheet" href="{% static "common/ng-img-crop.css" %}"/>
{% endcompress %}



    <!-- bower:js -->
    <script src="{% static "prefixfree/prefixfree.min.js" %}"></script>
    <script src="{% static "angular/angular.js" %}"></script>
    <script src="{% static "angular-route/angular-route.js" %}"></script>
    <script src="{% static "angular-resource/angular-resource.js" %}"></script>
    <script src="{% static "angular-animate/angular-animate.js" %}"></script>
    <script src="{% static "angular-aria/angular-aria.js" %}"></script>
    <script src="{% static "angular-material/angular-material.js" %}"></script>
    <script src="{% static "angular-material-icons/angular-material-icons.min.js" %}"></script>
<script src="{% static "angular-sanitize/angular-sanitize.js" %}"></script>
    <!-- endbower -->
<script src="{% static "common/ng-img-crop.js" %}"></script>
    <script type="text/javascript" src="{% static "events/events.js" %}"></script>
    <script type="text/javascript" src="{% static "events/services.js" %}"></script>
    <script type="text/javascript" src="{% static "events/views/detail.js" %}"></script>
    <script type="text/javascript" src="{% static "events/views/list.js" %}"></script>
<script type="text/javascript" src="{% static 'common/app.js' %}"></script>
<script type="text/javascript" src="{% static 'common/directives.js' %}"></script>
<script type="text/javascript" src="{% static 'common/services.js' %}"></script>
{% block header %}{% endblock %}
{{ form.media }}

