{% load staticfiles %} <!DOCTYPE html>
{% load compress %}
{% include 'base/head/meta.html' %}
<!-- Page title-->
<title>
    {% block page_title %}
        EESTEC - Electrical Engineering Students' European Association
    {% endblock %}
</title>
<!-- Assets-->
<link rel="image_src" href="{% static 'enet/img/logo_square.png' %}"/>
{% include 'base/head/stylesheets.html' %}
{% include 'base/head/scripts.html' %}
<link href="{% static 'pgwmodal/pgwmodal.min.css' %}" rel="stylesheet">
<script src="{% static 'pgwmodal/pgwmodal.min.js' %}"></script>
{% block header %}{% endblock %}
{{ form.media }}

