{% load staticfiles %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"
      content="Electrical Engineering Students' European Association is an apolitical,
                non-governmental and non-profit organization which targets and trains
                through its activities students from electrical profile Universities,
                Institutes and Technical Schools in Europe.">
<meta name="author" content="Sebastian Wozny">
<meta property="og:image"
      content="http://unstable.eestec.net{% static 'enet/img/logo_square.png' %}"/>

