{% load compress %}
{% load static %}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.js"></script>
{% compress js %}
    <script type="text/javascript"
            src="{% static 'prefixfree/js/prefixfree.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'jquery/js/jquery-2.1.1.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'jquery/js/jquery-ui-1.11.0.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'imgcycle/js/jquery.cycle2.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'jquery/js/jquery-ui-timepicker-addon.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'pgwslider/pgwslider.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'image-picker/js/image-picker.min.js' %}"></script>
    <script type="text/coffeescript"
            src="{% static 'enet/coffeescript/enet.coffee' %}"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-57587931-1', 'auto');
        ga('send', 'pageview');

    </script>
{% endcompress %}
