{% load compress %}
{% load static %} {% compress css %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'enet/css/normalize.css' %}">
    <link rel="stylesheet"
          href="{% static 'elasticgrid/css/elastic_grid.min.css' %}"/>
    <style scoped="scoped" type="text/css">
        .og-expander {
            z-index: 100;
        }
    </style>
    <link rel="stylesheet" type="text/css"
          href="{% static 'pgwslider/pgwslider.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'jquery/css/jquery-ui-1.11.0.min.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'image-picker/css/image-picker.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'elfinder/css/elfinder.min.css' %}">
    <link rel="stylesheet" type="text/x-sass"
          href={% static "enet/sass/base.sass" %}/>
{% endcompress %}
