{% extends 'base/base.html' %}
{% load compress %}
{% load thumbnail %}
{% load staticfiles %}
{% block maincontent %}

    <ul class="pgwSlider">
        {% for object in object_list %}
            <li>
                <a href="{% url 'news' object.slug %}">
                    {% thumbnail object.thumbnail "1087x480" quality=95 crop="center" as im %}
                        <img src="{{ im.url }}"
                    {% endthumbnail %}
                             alt="{{ object.name }}"
                             data-description="
                                {% autoescape off %}
                                    {{ object.content|truncatewords:50 }}
                                    {% ifnotequal object.content|truncatewords:50|length object.content|truncatewords:51|length %}
                                        <a href='{% url 'news' object.slug %}'
                                 style='font-weight: bold;'> Read more</a>"
                             {% endifnotequal %}
                             {% endautoescape %}
                    "></a>
            </li>
        {% endfor %}
    </ul>
    <main class="home">

        <div class="donate_and_newsletter">

            <div class="aboutus">
                <h1>About Us</h1>

                <p>Electrical Engineering Students' European Association is an
                    apolitical,
                    non-governmental and non-profit organization which targets and trains
                    through its activities students from electrical profile Universities,
                    Institutes and Technical Schools in Europe. </p>
                <p>With the activities EESTEC provides, it creates
                    opportunities for students to reach their potential in academic,
                    professional and social life.</p>

                <p>The association was founded in The Netherlands, in 1986. Nowadays,
                    EESTEC
                    is present in 28 countries and 53 universities across Europe with
                    over
                    6000 members of whom 3000 are currently active, and indirectly,
                    EESTEC is
                    addressing all students in the faculties that EESTEC exists.</p>
            </div>
            <div class="contact">
                <h1>Contact</h1>

                <div class="social">
                    {% include 'base/footer/social.html' %}
                </div>
                <a style="background-color: transparent;" href="mailto:board@eestec.net">board@eestec.net</a>
                <address>Mekelweg 4, 2628 CD Delft, The Netherlands</address>

            </div>
            <div class="donate">
                <p>Spot a bug?</p>
                <a href="#" id="fdbk">
                    Feedback us
                </a>

                <script type="text/javascript">
                    $(function () {
                        $("#fdbk").click(function (event) {
                            event.preventDefault();
                            $.pgwModal({
                                        url: "{% url 'website-feedback' %}",
                                        loadingContent: '<span style="text-align:center">Loading in progress</span>',
                                        titleBar: false,
                                        maxWidth: 800
                                    }
                            );
                            return false;
                        });
                    });
                </script>
            </div>
            <div class="newsletter">
                <form action="{% url 'newsletter' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="mailsub">
                    <input class="submit" type="submit"
                           value="Sign up for our Newsletter">
                </form>
            </div>
        </div>

    </main>
{% endblock %}
