{% extends 'base/prototypes/split.html' %}
{% block maincontent %}
    <main>
        <h1>Feedback on the website</h1>

        <div class="websitefeedback">
            <p>We think it's really cool that you have something to tell us!</p>

            <p>Please help us make the website better by filling this form</p>

            <form action="" id="descriptionform"
                  enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <p>{{ form.email }}</p><p>{{ form.subject }}</p>
                <p>{{ form.content }}</p>
                {% for inline in inlines %}
                    <p>
                    {{ inline.management_form }}
                    <table style="width:100%;">
                        <tr>
                            <th>Screenshot</th>
                            {% for field in inline.0.visible_fields %}
                                <th>
                                    {{ field.label }}
                                </th>
                            {% endfor %}
                        </tr>
                        {% for inform in inline %}
                            {% for hidden in inform.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <tr><!-- Read only fields first-->
                                <td>
                                    {{ inform.instance }}
                                </td>
                                {% for field in inform.visible_fields %}
                                    <td>
                                        {{ field }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                    </p>
                {% endfor %}
                <p><input type="submit" value="Submit Feedback"></p>
            </form>
        </div>
    </main>
{% endblock %}
