{% extends 'wiki/base.html' %}

{% block head %}
    <h1>
        <span>{{ object.name }}</span>
        <nav>
            <a href="{% url 'wikipage' object.slug %}">Read</a>
            <a href="{% url 'updatewikipage' object.slug %}">Update</a>
        </nav>
    </h1>
{% endblock %}
{% block main %}
    <div class="wiki">
        <form action="" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form.name }}
            {{ form.content }}
            <input type="submit" value="Update Description">
        </form>
    </div>
{% endblock %}
