{% extends "base/prototypes/split.html" %}
{% load thumbnail %}
{% block main %}
    <section class="{% block class %}{% endblock %}">
        <h1>{% block title %}{% endblock %}</h1>
        <header>

            <div class="pictures cycle-slideshow">
                {% block pictures %}
                {% endblock %}
            </div>
            <div class="details">
                <!-- These are the information next to the images -->
                {% for piece in information %}
                    {{ piece }}
                {% endfor %}
                {% block actions %}{% endblock %}
            </div>
        </header>
        {% block more %}
        {% endblock %}
        <!-- If grids are defined put them near the end -->
        {% for grid in grids %}
            {{ grid }}
        {% endfor %}
    </section>
{% endblock %}
{% block aside %}
    {% if user in object.privileged or user.is_superuser or object == user %}
        <h1>Actions</h1>
        {% for option in adminoptions %}
            {{ option }}
        {% endfor %}
    {% endif %}
    {% block additional_options %}{% endblock %}
{% endblock %}
