{% extends 'base/prototypes/detail.html' %}
{% load thumbnail %}

{% block class %}eestecer{% endblock %}
{% block title %}{{ object }}{% endblock %}
{% block pictures %}
    {% thumbnail object.thumbnail "375x225" crop="center" as im %}
        <img alt="{{ object }}" src="{{ im.url }}" width="{{ im.width }}" height="
        {{ im.height }}">
    {% endthumbnail %}
{% endblock %}

{% block more %}
    <div>
        {% block description %}
        {% autoescape off %}
            {{ object.description }}
        {% endautoescape %}
        {% endblock %}
    </div>
    {% if object.achievements.all %}
        <details open>
            <summary>Achievements in EESTEC</summary>
            {% include  'account/achievement_list.html' with object_list=object.achievements.all %}
        </details>
    {% endif %}
{% endblock %}
{% block additional_options %}
    <h2> Admin Actions</h2>
        {% if user.is_trainer %}
            <a href="{% url 'certificate' object.slug %}" id="trainercert">Training
                Certificate
                Supplement</a>
        {% endif %}
{% endblock %}
