{% extends 'base/prototypes/detail.html' %}
{% load thumbnail %}

{% block class %}eestecer{% endblock %}
{% block title %}{{ object }}{% endblock %}
{% block pictures %}
    {% thumbnail object.thumbnail "375x225" crop="center" as im %}
        <img alt="{{ object }}" src="{{ im.url }}" width="{{ im.width }}" height="
        {{ im.height }}">
    {% endthumbnail %}
{% endblock %}

{% block more %}
    <div id="userpersonal">
        <h1>Personal Note</h1>
        {% block description %}
            {{ object.description }}
        {% endblock %}
    </div>
    {% if object.achievements.all %}
        <details open>
            <summary>Achievements in EESTEC</summary>
            {% include  'account/achievement_list.html' with object_list=object.achievements.all %}
        </details>
    {% endif %}
{% endblock %}
{% block additional_options %}
    {% if request.user == object %}
        <a href="{% url 'personalupdate' %}" class ="action-button blue">Update my personal note</a>
        {% if user.is_trainer %}
            <a href="{% url 'certificate' object.slug %}" class="action-button blue"
               id="trainercert">Training
                Certificate
                Supplement</a>
        {% endif %}
    {% endif %}
{% endblock %}
