{% extends 'base/prototypes/split.html' %}
{% load compress %}
{% block maincontent %}
    {% verbatim %}
    <div data-ng-app="teams" data-ng-controller="teamsController">
        <ul>
            <li data-ng-repeat="team in teams">
                <span>{{team.name}}</span>
            </li>
        </ul>
    </div>

    {% endverbatim %}
    {% compress js %}
        <script type="text/coffeescript">
            teamsControllers = angular.module('teamsControllers', [])
            teamsControllers.controller('TeamListCtrl',
                    ['$scope', 'Phone', ($scope, Phone) ->
                        $scope.phones = Phone.query()
                        $scope.orderProp = 'age'
                    ])
            teamService = angular.module("teamService", ["ngResource"])
            teamService.factory "Team", [
                "$resource"
                ($resource) ->
                    return $resource("/teams/api/", pk: "@pk", {})
            ]
            teamApp = angular.module('teamApp',
                    ["ngRoute", "teamsControllers", "teamService"])

        </script>
    {% endcompress %}
{% endblock %}
