{% extends 'base/prototypes/split.html' %}
{% load compress %}
{% block maincontent %}
    {% verbatim %}
        <div data-ng-app="teamApp" data-ng-controller="teamsControllers">
        <ul>
            <li data-ng-repeat="team in teams">
                <span>{{team.name}}</span>
            </li>
        </ul>
    </div>

    {% endverbatim %}
    {% compress js %}
        <script type="text/coffeescript">
            root = exports ? this
            root.teamsControllers = angular.module('teamsControllers', [])
            root.teamsControllers.controller('TeamListCtrl',
                    ['$scope', 'Team', ($scope, Phone) ->
                        $scope.phones = Phone.query()
                        $scope.orderProp = 'age'
                        ])
            root.teamService = angular.module("teamService", ["ngResource",])
            root.teamService.factory "Team", [
                "$resource"
                ($resource) ->
                    return $resource("/teams/api/", pk: "@pk", {})
            ]
            root.teamApp = angular.module('teamApp',
                    ["ngRoute", "teamsControllers", "teamService"])
        </script>


    {% endcompress %}
{% endblock %}
