{% load thumbnail %}

<h2>EESTEC International Board of {{ object.year }}/ {{ object.year|add:"1" }}</h2>
<article class="board">
    <div class="chairperson">
        <h4>Chairperson</h4>
        {{ object.cp.as_html }}
        <p>
            Responsible for the functioning of the Association.
        </p>

        <p>
            Responsible for Board Meetings and Congresses.
        </p>

        <p>
            Responsible for operational work of the Board.
        </p>

        <p>
            Responsible for preparing monthly board report.
        </p>
    </div>
    <div class="treasurer">
        <h4>Treasurer</h4>
        {{ object.treasurer.as_html }}
        <p>
            Ensuring Liquidity of EESTEC International
        </p>

        <p>
            Responsible for fundraising
        </p>

        <p>
            Companies contact person
        </p>

        <p>
            Responsible for bookkeeping and financial reports
        </p>
    </div>
    <div class="vc-ia">
        <h4>VC Internal Affairs</h4>
        {{ object.vcia.as_html }}
        <p>
            Responsible for internal communication, information flow and coordination of
            events
        </p>

        <p>
            Responsible for coordinating the work of Contact Persons of Local Committees
        </p>

        <p>
            Responsible for internal activation and motivation
        </p>

        <p>
            Responsible for keeping in touch with alumni section
        </p>

        <p>
            Responsible for guiding new Local Committees
        </p>
    </div>
    <div class="vc-pa">
        <h4>VC Publications and Administration</h4>
        {{ object.vcpa.as_html }}
        <p>
            Responsible for production and improvement of promotional materials
        </p>

        <p>
            Responsible for web publishing
        </p>

        <p>
            Responsible for promotional projects of EESTEC International
        </p>

        <p>
            Responsible for the supervision and the work of the following EESTEC
            International
        </p>

        <p>
            Bodies: Design Team, Magazine Team, International Bureau
        </p>
    </div>
    <div class="vc-ea">
        <h4>VC External Affairs</h4>
        {{ object.vcea.as_html }}
        <p>
            Activation of new EESTEC observers
        </p>

        <p>
            Contacts with other student organizations
        </p>

        <p>
            EU affairs
        </p>

        <p>
            Public Relations
        </p>
    </div>
</article>
