{% extends 'teams/team_detail.html' %}
{% block board %}
    <form action="{{ object.get_aboslute_url }}board" id="boardform"
          enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Choose new boad">
    </form>
    <script type="text/javascript">
        $(function () {
            boarddialog = new PersonDialog($("#boardform"));
            $("input[type=submit]").button();
        });
    </script>
{% endblock %}
