{% extends 'base/prototypes/split.html' %}
{% load thumbnail %}

{% block main %}
    <section class="governance">
        {% include 'teams/board.html' with object=current_board %}
    </section>
    <ul>
        <li>Individuals in EESTEC are student volunteers and receive no payment for their
            work.
        </li>
        <li>The work of the Board is overseen by the <a
                href="https://eestec.net/teams/oversight-committee/">Oversight
            Committee </a></li>
    </ul>
{% endblock %}
