{% extends 'base/prototypes/split.html' %}
{% load thumbnail %}
{% load staticfiles %}
{% load compress %}
{% block main %}
    {% if object_list.first.is_lc %}
        <style scoped="scoped">#map {
        width: 80%;
        height: 350px;
        }</style>
        <link property="stylesheet" rel="stylesheet"
              href="{% static 'leaflet/leaflet.css' %}"/>
        {% compress js %}
            <script src="{% static 'leaflet/leaflet.js' %}"></script>
            <script src="{% static 'enet/testleaf.js' %}"></script>
            <script type="text/javascript">
                $(function () {
                    {% for object in object_list %}
                        var mark = new L.Marker(new L.LatLng({{ object.lat }}, {{  object.lng}}), {title: "{{ object }}"});
                        mark.on('click',
                                function () {
                                    window.location = "{{ object.as_url }}";
                                });
                        map.addLayer(mark);

                    {% endfor %}
                });
            </script>

        {% endcompress %}

        <section class="members">
        <div id="map">
        </div>
            {% for grid in grids %}
                {{ grid }}
            {% endfor %}
        </section>
    {% else %}
        <h1>International Teams and Bodies</h1>
        <section class="members">
            <ul>
                {% for object in object_list %}
                    <li>{% include 'teams/international_team.html' with object=object %}</li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
{% endblock %}