{% extends "base/prototypes/detail.html" %}
{% load thumbnail %}
{% block class %}event{% endblock %}
{% block title %}{{ event }}{% endblock %}
{% block pictures %}
    {% for imf in object.images.all %}
        {% thumbnail imf.image "375x225" crop="center" as im %}
            <img alt="{{ object.name }}" src="{{ im.url }}" width="{{ im.width }}"
                 height="{{ im.height }}">
        {% endthumbnail %}
    {% endfor %}
{% endblock %}
{% block details %}
    <div>
        {% block actions %}
            {% include 'events/actions.html' %}
        {% endblock %}
    </div>
{% endblock %}
{% block more %}
    <details open>
        {% block description %}
            <summary>Description</summary>
        {% autoescape off %}
            {{ object.description }}
        {% endautoescape %}
        {% endblock %}
    </details>
{% endblock %}
{% block additional_options %}
    {% if user in object.applicants.all %}
        <h2> Application Actions</h2>
        <a href="{% url 'application-edit' slug=object.slug %}" class="teamadmin">Edit my
            application</a>
    {% endif %}
    {% if user in object.organizers.all or user.is_superuser %}
        <h2> Admin Actions</h2>
        <a class="action-button blue"
           href="{% url 'eventdescription' slug=object.slug %}" class="teamadmin">Change
            Description</a>
    {% endif %}
    <script type="text/javascript">
        $("a.teamadmin").button();
    </script>
{% endblock %}