{% extends "forms/form_with_inlines.html" %}
{% block formjavascript %}
    <script type="text/javascript">
        $(function () {
            $("#{{ id }} input[type=submit]").button();
            $("#dialogform form").submit(function () {
                console.log("form submitted to https://eestec.net"+$(this).attr('action'));
                $.ajax({
                    type: "POST",
                    url: "https://eestec.net"+$(this).attr("action"),
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                    crossDomain: false,
                    success: function (data) {
                        console.log(data);
                        if (data.content) {
                            console.log("form cameb ack with data");
                            $.pgwModal({
                                content: data.content,
                                loadingContent: '<span style="text-align:center">Loading in progress</span>',
                                titleBar: false,
                                maxWidth: 800
                            });
                        } else {
                            console.log("form cameb ack without data");
                            location.reload();
                        }
                    }
                });
                $.pgwModal('close');
                alert("If your browser does not reload the page itself, the form submission was successful. We are experiencing problems concerning our javascript files, please excuse this.");

                return false;
            });

            $(".date").datepicker({
                changeYear: true,
                yearRange: "-35:-18"
            });
            $(".datetime").datetimepicker();
        });
    </script>
{% endblock %}
