{% extends "forms/form_with_inlines.html" %}
{% block formjavascript %}
    <script type="text/javascript">
        $(function () {
            $("#{{ id }} input[type=submit]").button();
            $("#{{ id }} form").submit(function () {
                $.ajax({
                    type: "POST",
                    url: $(this).attr("action"),
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                    statusCode: {
                        200: function (data) {
                            if (data.content) {
                                $.pgwModal({
                                    content: data.content,
                                    loadingContent: '<span style="text-align:center">Loading in progress</span>',
                                    titleBar: false,
                                    maxWidth: 800
                                });
                            } else {
                                $("#{{ id }}").dialog("close");
                                location.reload();
                            }
             },
             302:function(xhr,textstatus,error){
             location.href = xhr.getResponseHeader("Location");
                        }
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}
