@import flex/base
@import definitions
@import prototypes/article
@import prototypes/figure
@import prototypes/buttons
@import prototypes/datetimepicker
@import main/base
@import section/base
@import specific/activities
@import "specific/eestecers"
@import "specific/events"
@import "specific/forms"
@import "specific/history"
@import "specific/members"
@import "specific/news"
@import "specific/people"
@import "specific/static"
@import "specific/stub"
@import "specific/websitefeedback"
@import "specific/wiki"
@font-face
  font-family: "helvetica neue"
  src: url("../../fonts/HelveticaNeueLTPro-Lt.otf")


b, h1, h2, h3, h4, h5, h6
  @extend ._flex_between
  font-family: $centurygothic
  align-items: center
  font-size: 22px
  padding: 1px 20px
  border-bottom: 1px solid $eestec-red-3
  margin: 3px
  color: $eestec-red-3

h1
  font-size: 24px

h2
  font-size: 22px

h3
  font-size: 20px

h4
  font-size: 18px

ul
  list-style: none


body
  @extend ._flex
  align-items: stretch
  max-width: 1280px
  //1280px => max viewport
  font-size: 16px
  margin: 0px auto
  //This centers the body element
  background-image: url(../../img/bg.jpg)

html
  font-family: $helvetica
