@import flex/base
=nested_list
  > ul
    @extend ._flex_around
    > li
      display: block
      text-align: center
      h3
        border: initial
        text-align: center
      ul
        list-style: none
        li
          justify-content: center
