{% extends 'teams/team_detail.html' %}
{% block changedetails %}
    <form action="{% url 'changedetails' object.slug %}" id="changedetailsform"
          enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update Details">
    </form>
    <script type="text/javascript">
        $(function () {
            $("#changedetailsform").dialog({width: 500, height: 500});
            $("input[type=submit]").button();
        });
    </script>
{% endblock %}
