{% extends "enet/detail.html" %}
{% load thumbnail %}
{% block class %}member{% endblock %}
{% block title %}{{ object }}{% endblock %}
{% block pictures %}
    {% for imf in object.images.all %}
        {% thumbnail imf.image "375x225" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
    {% endfor %}
{% endblock %}
{% block details %}
    <h2>LC Name</h2><h3>{{ object.name }} </h3>
    <h2>Founded:</h2><h3> {{ object.founded}}</h3>
    <h2>Website:</h2> <h3>{{ object.website}}</h3>
    <h2>Number of Members</h2><h3>{{ object.membercount }}</h3>
    <div class="actions">
        {% if user.is_authenticated %}
            {% block application %}
                {% if not user in object.users.all %}
                    {% for event in object.event_set.all %}
                    {% if event.category == "recruitment" %}
                        <a href="{% url 'eventapplication' event.slug %}" class="action-button shadow animate red">Join this Commitment</a>
                    {% endif %}
                {% endfor %}
                {% else %}
                {% endif %}
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}
{% block more %}
    <details open>
        <summary>Description</summary>
        {% autoescape off %}
            {{ object.description }}
        {% endautoescape %}
    </details>
    <details open>
    <summary>Last Events</summary>
        {% include 'events/events.html' with object_list=object.event_set.all %}
    </details>
    <details open>
        <summary>Board</summary>
        {% include 'account/eestecers.html' with object_list=object.board %}
    </details>
    <details open>
        <summary>Members</summary>
        {% include 'account/eestecers.html' with object_list=object.users.all %}
    </details>
    {% block board %}{% endblock %}
    {% block description %}{% endblock %}
    {% block changedetails %}{% endblock %}
    {% block managemembers %}{% endblock %}
    {% block teamimages %}{% endblock %}
    {% block teamapplications %}{% endblock %}
{% endblock %}

{% if object in user.request.pivileged %}
    {% block aside %}
        <h2> Admin Actions</h2>
        <a href="{{ object.as_url }}board" id="board">Choose new board</a>
        <a href="{{ object.as_url }}description" id="board">Change Description</a>
        <a href="{{ object.as_url }}details" id="board">Change Details</a>
        <a href="{{ object.as_url }}members" id="board">Manage members</a>
        <a href="{{ object.as_url }}images" id="board"> Images </a>
        {% if object.pending_applications %}
            <a href="{{ object.as_url }}/teamapplications"
               id="board">View {{ object.pending_applications }}Applications </a>
        {% endif %}
        <script type="text/javascript">
            $("a#board").button();
        </script>
    {% endblock %}
{% endif %}
