{% extends 'enet/split.html' %}
{% load staticfiles %}
{% block main %}
    <style>#map {
        width: 80%;
        height: 350px;
    }</style>
    <link rel="stylesheet" href="{% static 'enet/leaflet.css' %}"/>
    <script src="{% static 'enet/leaflet.js' %}"></script>
    <script src="{% static 'enet/testleaf.js' %}"></script>
    <script>
        $(function () {
            {% for object in object_list %}
                var mark = new L.Marker(new L.LatLng({{ object.lat }}, {{  object.lng}}), {title: "{{ object }}"});
                mark.on('click',
                        function () {
                            window.location = "{{ object.as_url }}";
                        });
                map.addLayer(mark);
            {% endfor %}
        });
    </script>
    <h1>Members</h1>
    {% if object_list.first.is_lc %}
        <div id="map">
    </div>
    {% endif %}
    <section class="members">
        {% include 'teams/teams.html' with object_list=object_list %}
    </section>
{% endblock %}