header nav form {
  @media only screen and (max-width: 500px) /* 640 */
  {
    display: none;
  }
  flex: 2 1 200px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: $eestec-red-3;
  div {
    flex-wrap: nowrap;
    height: 30px;
    padding: 3px;
    background-color: $eestec-red-4;
    display: flex;
    border-radius: 5px;
    input {
      background-color: $eestec-red-4;
      color: #fff;
      border: none;
      width: 200px;
      font-size: 25px;
    }
  }
  img {
    align-self: center;
    height: 25px;
    width: 25px;
    background-color: $eestec-red-4;
    fill: #fff;
  }
}
