{% load staticfiles %}
<p> Follow us on: </p>
<a id="twitter" href="https://twitter.com/eestec">
    <img alt="Follow us on Twitter" src="{% static 'enet/icons/twitter.svg' %}"/>
</a>
<a id="youtube" href="https://www.youtube.com/channel/UCdGEsvqrZfNVbGcn9ns2RNA">
    <img alt="Our Youtube Channel" src="{% static 'enet/icons/youtube.svg' %}"/>
</a>
<a id="facebook" href="https://www.facebook.com/EESTEC">
    <img alt="Like us on Facebook" src="{% static 'enet/icons/facebook.svg' %}"/>
</a>
<a id="linkedin" href="https://www.linkedin.com/groups?gid=66771&amp;trk=vsrp_groups_cluster_name&amp;trkInfo=VSRPsearchId%3A2421982511405028431050%2CVSRPtargetId%3A66771%2CVSRPcmpt%3Agroups_cluster">
    <img alt="Find us on LinkedIn" src="{% static 'enet/icons/linkedin.svg' %}"/>
</a>
<a id="googleplus" href="https://plus.google.com/u/0/107902810588904084368/posts">
    <img alt="1+ us on Google+" src="{% static 'enet/icons/google.svg' %}"/>
</a>
