#userarea {
  @media only screen and (max-width: 45em) /* 640 */
  {
    width: 4rem;
    z-index: 100;
    position: fixed;
    top: 0px;
    right: 4.5rem;
    height: 4rem;
    figure, a, img {
      background-color: #fff;
      width: 4rem;
      height: 4rem;
    }
    figcaption {
      display: none;
    }
  }
}
