{% load staticfiles %}
<script type="text/javascript" charset="utf-8">
    $().ready(function () {
        var elf = $('#elfinder').elfinder({
            url: '{% url 'trtconnector' %}',
            customData: { csrfmiddlewaretoken: '{{ csrf_token }}', },
        }).elfinder('instance');
    });
</script>
<div id="elfinder"></div>
<p>
    EESTEC International provides the platform for file sharing amongst its website's
    registered users. It in no form endorses or approves of any content, nor does it take
    responsibilities for any file uploaded. Legal liability for any file or other content
    within the file sharing system lies fully with the respective user.
    Should protected material be found amongst the files, contact our IT Team at
    it-coordinator[at]eestec[dot]net
</p>

