{% extends 'enet/index.html' %}

{% block maincontent %}
    {% if query %}
        <h3>Results</h3>
        {% for result in page.object_list %}
            {% ifequal result.model_name 'event' %}
                {% if result.object.category == 'recruitment' %}
                {% else %}
                    {{ result.object.as_html }}
                {% endif %}
            {% else %}
                {{ result.object.as_html }}
            {% endifequal %}
        {% empty %}
            <p>No results found.</p>
        {% endfor %}

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}
                    <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo;
                Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}
                    <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}
                Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
    </form>
{% endblock %}