<style type="text/css">
    div, h1, p {
        flex: 1 1 100%;
    }
</style>
<div style="display: flex;flex:1 1 100%;justify-content: center;">
    <img req='0' res='object' editable/>
</div>
<h1>{{ object.name }}</h1>
<p style="text-align: center" contenteditable req="'description'" res="object"></p>
<div>
    <span><label> Skype:</label><p contenteditable req="'skype'" res="object"></p></span>
    <span><label> Hangouts:</label><p contenteditable req="'hangouts'" res="object"></p></span>
</div>