{% extends 'base/base.html' %}
{% block maincontent %}
    <main class="wiki">
        <header>
            {% block head %}
                <h1>Welcome to the eestecnet wiki</h1>
            {% endblock %}
        </header>
        <nav>
            {% block nav %}
                {% include 'wiki/nav.html' %}
            {% endblock %}
        </nav>
        <main>
            {% block main %}
                and this is the content
            {% endblock %}
        </main>
    </main>
{% endblock %}