{% extends 'base/prototypes/split.html' %}
{% load thumbnail %}
{% block main %}
{% for entry in object_list %}
<section class="career">
    <h1><a style="color:#9a0008;"
           href="{% url 'news' entry.slug %}">
        {{ entry.name }}
    </a><span>{{ entry.pub_date }}</span></h1>

    <div>
        {% thumbnail entry.thumbnail "x300" as im %}
            <img alt="{{ object }}" src="{{ im.url }}">
        {% endthumbnail %}
    </div>

    <div class="post_content">
        {% autoescape off %}
        {{ entry.description | truncatewords:110|linebreaks }}
        {% endautoescape %}
        {% ifnotequal entry.description|truncatewords:110|length entry.description|truncatewords:111|length %}
            <a href="{% url "news" entry.slug %}"
               style="font-weight: bold;"> Read more</a>
        {% endifnotequal %}

    </div>

</section>
{% endfor %}
{% endblock %}
