{% extends 'enet/split.html' %}
{% load thumbnail %}
{% block main %}
    {% for entry in object_list %}
        <section class="news">
            <h1>{{ entry.headline }}</h1>

            <ul>
                <li>{{ entry.pub_date }}</li>
            </ul>
            {% thumbnail entry.entry_image "200x200" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}

            <p class="post_content">
                {% autoescape off %}
                    {{ entry.content }}
                {% endautoescape %}
            </p>

        </section>
    {% endfor %}
{% endblock %}
