{% extends 'base/prototypes/split.html' %}
{% load thumbnail %}
{% block main %}
    {% for entry in object_list %}
        <section class="news">
            <h1><a style="color:#9a0008;"
                   href="{% url 'news' entry.slug %}">
                {{ entry.name }}
            </a><span>{{ entry.pub_date }}</span></h1>
            {% thumbnail entry.thumbnail "x150" as im %}
                <img alt="{{ object }}" src="{{ im.url }}" width="{{ im.width }}"
                     height="{{ im.height }}">
            {% endthumbnail %}

            <div class="post_content">
            {% autoescape off %}
                {{ entry.content | truncatewords:110|linebreaks }}
                {% endautoescape %}
                {% ifnotequal entry.content|truncatewords:110|length entry.content|truncatewords:111|length %}
                    <a href="{% url "news" entry.slug %}"
                       style="font-weight: bold;"> Read more</a>
                {% endifnotequal %}

            </div>

        </section>
    {% endfor %}
{% endblock %}
