{% extends 'base/prototypes/split.html' %}
{% load thumbnail %}
{% block main %}
    <section class="news">
        <h1>{{ entry.name }}</h1>

        <ul>
            <li>{{ entry.pub_date }}</li>
        </ul>
        <div>
            {% thumbnail entry.thumbnail "x300" crop="center" as im %}
                <img alt="{{ object }}" src="{{ im.url }}"
        {% endthumbnail %}
        </div>

        <div class="post_content">
            {% autoescape off %}
                {{ entry.description }}
            {% endautoescape %}
        </div>

    </section>
{% endblock %}
