{% extends "enet/detail.html" %}
{% load thumbnail %}
{% block class %}member{% endblock %}
{% block title %}{{ member }}{% endblock %}
{% block pictures %}
    {% for imf in object.images.all %}
        {% thumbnail imf.image "375x225" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
    {% endfor %}
{% endblock %}
{% block details %}
    <h2>LC Name</h2><h3>{{ object.name }} </h3>
    <h2>Founded:</h2><h3> {{ object.founded}}</h3>
    <h2>Website:</h2> <h3>{{ object.website}}</h3>
    <h2>Number of Members</h2><h3>{{ object.membercount }}</h3>
    <div class="actions">
        {% if user.is_authenticated %}
            {% block application %}
                {% for event in object.event_set.all %}
                    {% if event.category == "recruitment" %}
                        <a href="{% url 'eventapplication' event.slug %}" class="action-button shadow animate red">Join this Commitment</a>
                    {% endif %}
                {% endfor %}
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}
{% block more %}
    <details open>
        <summary>Description</summary>
        {% autoescape off %}
            {{ object.description }}
        {% endautoescape %}
    </details>
    <details>
        <summary>Last Events</summary>
        {% include 'events/events.html' with object_list=object.event_set.all %}
    </details>
    <details>
        <summary>Members</summary>
        {% include 'account/eestecers.html' with object_list=object.members.all %}
    </details>
{% endblock %}
