{% load thumbnail %}
{% if member.category == 'jlc' or membery.category == 'lc' or member.category == 'observer' %}
    <a href="{% url 'city' member.slug %}">
{% else %}
    <a href="{% url 'team' member.slug %}">
{% endif %}

    <div class="picture">
        <div class="thumbnail">
            {% thumbnail member.thumbnail "190x125" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
        </div>
        <div class="picture-meta">
            <h1><b>{{ member }}</b></h1>
        </div>
    </div>
</a>
