{% extends 'enet/figure.html' %}
{% load thumbnail %}

{% block class %}member{% endblock %}
{% block url %}
{% if object.category == 'jlc' or objecty.category == 'lc' or object.category == 'observer' %}
    {% url 'city' object.slug %}
{% else %}
   {% url 'team' object.slug %}
{% endif %}
{% endblock %}
{% block picture %}
            {% thumbnail object.thumbnail "190x125" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" title="{{ object.thumbsource }}">
            {% endthumbnail %}
{% endblock %}
{% block caption %}
           {{ object }}
{% endblock %}
