{% load thumbnail %}
{% load compress %}
{% load static %}
<h2>{{ name }}</h2>
<div id="{{ name|slugify }}container"></div>
<script src="{% static 'elasticgrid/js/modernizr.custom.js' %}"></script>
<script src="{% static 'elasticgrid/js/classie.js' %}"></script>
<script src="{% static 'elasticgrid/js/elastic_grid.min.js' %}"></script>
<script type="text/javascript">
    $(function () {
        $("#{{ name|slugify }}container").elastic_grid({
            'expandingHeight': 580,
            'items': [
                {% for object in object_list %}
                    {
                        'title': "{% block egtitle %}{{ object.name }}{% endblock %}",
                        'description': "{% block egdescription %} {% filter escapejs %}{{ object.description|truncatewords:80 }}{% endfilter %}{% endblock %}",
                        'thumbnail': [
                            {% block egthumbnail %}
                            {% thumbnail object.thumbnail "190x190" crop="center" as im %}
                                "{{ im.url }}",
                            {% endthumbnail %}
                            {% for image in object.images.all %}
                                {% thumbnail image "190x190" crop="center" as im %}
                                    "{{ im.url }}",
                                {% endthumbnail %}
                            {% endfor %}
                            {% endblock %}
                        ],
                        'large': [
                            {% block eglarge %}
                            {% thumbnail object.thumbnail "600x600" crop="center" as im %}
                                "{{ im.url }}",
                            {% endthumbnail %}
                            {% for image in object.images.all %}
                                {% thumbnail image "600x600" crop="center" as im %}
                                    "{{ im.url }}",
                                {% endthumbnail %}
                            {% endfor %}
                            {% endblock %}
                        ],
                        'tags': ['{% block egtags %}{{ tags }}{% endblock %}'],
                        'button_list': [{
                            'title': 'Details',
                            'url': '{{ object.get_absolute_url}}',
                        }]

                    },
                {% endfor %}
            ]
        })
    });

</script>
<link rel="stylesheet"
      href="{% static 'elasticgrid/css/elastic_grid.min.css' %}"/>
<style scoped="scoped" type="text/css">
    .og-expander {
        z-index: 9;
    }
</style>