body > main {
  @extend ._flex;
  @media screen and (max-width: 640px) {
    padding: 0px;
  }
  border-width: 0px 01px 0px 01px;
  flex: 1 1 70%;
  z-index: 2;
  border-color: #a2a0a0;
  position: relative;
  background-color: white;
  flex-wrap: wrap;
  padding-bottom: 45px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1),
  -0px 0px 20px 10px rgba(0, 0, 0, 0.1);
  padding: 5px 20px;
  justify-content: center;
  section {
    flex: 1 0 100%;
  }
  > form {
    width: 480px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
    flex-wrap: wrap;
    p {
      flex: 1 1 100%;
      display: flex;
      flex-wrap: wrap;
      input {
        flex: 1 1 40%;
      }
      label {
        flex: 1 1 40%;
      }
      justify-content: space-between;
    }
  }
}

.grad {
  height: 340px;
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: -1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04));
}

body > aside {

  @media only screen and (max-width: 45em) /* 640 */
  {
    border-width: 0px;
  }
  button {
    width: 200px;
  }
  display: flex;
  background-color: #5f6a6d;
  border-width: 0px 57px 0px 0px;
  align-content: flex-start;
  padding-top: 30px;
  border-style: solid;
  border-color: #3f4749;
  z-index: 1;
  justify-content: center;
  flex-wrap: wrap;
  h2 {
    border-bottom-color: white;
    text-align: center;
    color: white;
  }
  @media screen and (max-width: 1200px) {
    flex: 1 0 100%;
  }
  @media screen and (min-width: 1200px) {
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    flex: initial;
    align-self: flex-start;
    width: 100%;
  }
  p {
    font-size: 16px;
  }
  address {
    padding: 10px;
  }
  table {
    tr {
      td {
        padding: 5px;
        &:first-child {
          font-size: 18px;
          font-weight: bold;
          color: $eestec-red-3;
          font-family: $centurygothic
        }
        &:last-child {
          font-size: 18px;
          border: none;
        }
      }
    }
  }
}