article {
    display:flex;
    flex-direction: column;
    align-items:center;
  z-index: 10;

}
article {
  h1{
    align-self:flex-start;
  }
  header{
    flex-wrap:wrap;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 10px;

    .pictures,img{
      @media only screen and (max-width: 45em) /* 640 */
      {
        width: 100%;
      }
      height: 22.5rem;
    }
    .details{
      @media only screen and (max-width: 45em) /* 640 */
      {
        min-width: initial;
        margin-top: 10px;
        width: 100%;

      }
      min-width: 40.0rem;
      tr {
        td {
          &:first-child {
            font-size: 1.8rem;
            font-weight: bold;
            color: $darkeestec;
            font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;

          }
        }
        margin-bottom: 1.5rem;
        border-bottom: .1rem $darkeestec solid;
        &:last-child {
          height: 5.5rem;
          border: none;

        }
      }

    }
  }
  .actions{
    text-align: center;
    form{
      display:flex;
      flex-wrap:wrap;
      justify-content:space-between;
    }
  }
  details{
    align-self:flex-start;
    padding: 20px;
    line-height: 110%;
    font-size: 14px;
    summary {
      padding: 5px;
    }
  }
}
