a.event{
  width: 151px;
  figure, img {
    width:151px;
    height:111px;
  }
}
section.events{
  margin:3px;
}

#transport-wrapper {
  p {
    display: flex;
    justify-content: space-between;
  }
}