a.event{
  width: 151px;
  figure, img {
    width:151px;
    height:111px;
  }
}
section.events{
  margin:3px;
  > form {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    > div {
      text-align: center;
    }
  }
}

#transport-wrapper {
  p {
    display: flex;
    justify-content: space-between;
  }
}