body > footer {
  @media only screen and (max-width: 45em) /* 640 */
  {
    height: 10.0rem;
  }
  font-family: "Century Gothic";
  background-color: $eestecgreylight;
  height: 15.2rem;
  flex: 1 1 100%;
  position: relative;
  justify-content: space-between;
  align-items: center;
  div.social {
    @media only screen and (max-width: 45em) /* 640 */
    {
      margin: auto;

    }
    margin-right: 100px;
    svg.social {
      @media only screen and (max-width: 45em) /* 640 */
      {
        height: 2.0rem;
        width: 2.0rem;

      }
      height: 3.0rem;
      width: 3.0rem;
      fill: white;
      padding: 1.0rem;
      margin: 10px;
      background-color: $darkeestec;
    }
    p {
      flex: 1 1 100%;
      color: #fff;
      padding: 1.0rem;
    }
  }
  img {
    @media only screen and (max-width: 45em) /* 640 */
    {
      height: initial;
      width: 100%;
    }
    height: 100%;
    position: absolute;
    top: .0rem;
    left: .0rem;
  }
  nav {
    z-index: 10;
    a {
      color: #fff;
      text-decoration: none;
    }

    @media only screen and (max-width: 45em) /* 640 */
    {
      display: none;
    }
    > ul /*first level list*/ {
      padding-top: 1.0rem;
      align-items: flex-start;
      > li {
        display: block;
        padding: 15px;
        text-align: center;
        h3 {
          border: initial;
          text-align: center;
        }
        ul /*second level list*/        {
          display: block;
          li {
            justify-content: center;
          }
        }
      }
    }
  }
}