form#userupdate {
  padding: 15px;
  width: 100%;
  p {
    padding: 5px;
  }

}

.errorlist {
  color: red;
  font-weight: bold;
  font-size: 1.7rem;
  margin: 25px auto 0px auto;
}

.error {
  color: red;
}