ul {
  list-style-type: none;
  margin: 0 0 1em 0;
  padding: 0;
  line-height: 0%; }

ul li {
  margin: 0;
  padding: 0;
  line-height: normal;
  zoom: 1; }

html {
  background-image: url(../images/bg.jpg);
  font-family: Helvetica, Verdana sans-serif;
  font-size: 12px;
  color: #555; }

h1, h2 {
  font-family: 'Century Gothic';
  font-weight: bold;
  line-height: 100%;
  text-align: left;
  color: #af2b1d;
  margin: 0px; }

h1 {
  font-size: 17px; }

h2 {
  font-size: 14px; }

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

body, header, #sponsors, footer, nav {
  display: flex; }

body > main {
  padding: 30px;
  max-width: 800px;
  border-width: 0px 1px 0px 1px;
  border-color: #a2a0a0;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1), 0px 0px 20px 10px rgba(0, 0, 0, 0.1); }

.grad {
  height: 340px;
  margin-top: -35px;
  margin-left: -30px;
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 0;
  background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.04)); }

aside {
  background-color: #5f6a6d;
  border-width: 0px 57px 0px 0px;
  width: 253px;
  border-style: solid;
  border-color: #3f4749;
  z-index: 1; }

#sponsors {
  flex: 1 0 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  border: red solid;
  border-right: 2px;
  border-left: 2px;
  background-color: #fff; }

footer {
  background-color: #465052; }

footer #map {
  flex: 1 1 100%; }
