$eestec: rgba(238, 31, 41, 1);
$brightereestec: rgba(252, 115, 122, 1);
$brighteestec: rgba(250, 75, 84, 1);
$darkeestec: rgba(195, 8, 17, 1);
$darkereestec: rgba(154, 0, 8, 1);
$eestecgreylight: #465052;

ul {
  list-style-type: none;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li {
  margin: 0;
  padding: 0;
  line-height: normal;
  zoom: 1;
  flex: 1 1 1px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: "helvetica neue"; /*'Helvetica Neue Pro lite'*/
  src: url("../HelveticaNeueLTPro-Lt.otf");
}

html {
  background-image: url(../images/bg.jpg);
  font-family: "Helvetica Neue", Helvetica, Verdana sans-serif;
  font-size: 10px;
  color: #555;
}

a {
  text-decoration: none;
  color: #fff;
}

h1, h2, h3 {
  font-family: 'Century Gothic';
  font-weight: bold;
  line-height: 100%;
  text-align: left;
  color: $darkereestec;
  margin: 0.4rem;
  padding: 0% 0% 0.5% 5%;
  flex: 1 1 100%;
  border-bottom: 1px solid $darkeestec;
}

h4, h5, h6 {
  font-family: 'Century Gothic';
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 1.6rem;

}

h1 {
  font-size: 2.0rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

body, header, #sponsors, footer, aside, main {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.static {
  flex: 1 1 100%;
  z-index: 1;

  display: block;
}

#elfinder {
  z-index: 1;
}

html > body {
  max-width: 128.0rem;
  margin: 0rem auto;
  font-size: 1.2rem;
  > main {
    padding: .1rem;
    border-width: .0rem 0.1rem .0rem 0.1rem;
    flex: 1 1;
    z-index: 2;
    border-color: #a2a0a0;
    position: relative;
    background-color: white;
    flex-wrap: wrap;
    box-shadow: .0rem .0rem 2.0rem 1.0rem rgba(0, 0, 0, 0.1),
    -.0rem .0rem 2.0rem 1.0rem rgba(0, 0, 0, 0.1);
    justify-content: center;
    section {
      flex: 1 0 100%;
    }
    > form {
      width: 48.0rem;
      display: flex;
      background-color: rgba(0, 0, 0, 0.1);
      position: relative;
      z-index: 10;
      flex-wrap: wrap;
      p {
        flex: 1 1 100%;
        display: flex;
        flex-wrap: wrap;
        input {
          flex: 1 1 40%;
        }
        label {
          flex: 1 1 40%;
        }
        justify-content: space-between;
      }
    }
  }
  .grad {
    height: 34.0rem;
    width: 100%;
    top: .0rem;
    left: .0rem;
    position: absolute;
    z-index: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04));
  }
  > aside {
    background-color: #5f6a6d;
    border-width: .0rem 5.7rem .0rem .0rem;
    align-content: flex-start;
    padding-top: 3.0rem;
    border-style: solid;
    border-color: #3f4749;
    z-index: 1;
    justify-content: center;
    flex-wrap: wrap;
    h2 {
      border-bottom-color: white;
      text-align: center;
      color: white;
    }
    @media screen and (max-width: 1200px) {
      flex: 1 0 100%;
    }
    @media screen and (min-width: 1200px) {
      flex: 0 0 25.3rem;
    }
  }

  td {
    text-align: center;
    vertical-align: middle;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      flex: initial;
      align-self: flex-start;
      width: 100%;
    }
    p {
      font-size: 1.6rem;
    }
    address {
      padding: 10px;
    }
    table {
      tr {
        td {
          padding: 5px;
          &:first-child {
            font-size: 1.8rem;
            font-weight: bold;
            color: $darkeestec;
            font-family: "Century Gothic";
          }
          &:last-child {
            font-size: 1.8rem;
            border: none;
          }
        }
      }
    }
  }
  #sponsors {
    a {
      @media only screen and (max-width: 45em) /* 640 */
      {

        flex: 1 1 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          height: 3.0rem;
        }
        p {
          color: $eestecgreylight;
          font-size: 2rem;
          display: inline;
          font-family: "Century Gothic";
          font-weight: bold;
        }
        height: 3.0rem;
        width: auto;
      }
    }
    p {
      @media only screen and (max-width: 45em) /* 640 */
      {
        display: inline;
        color: #000;
      }
      display: none;
    }
    flex: 1 0 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    border: red solid;
    border-right: .2rem;
    border-left: .2rem;
    padding: 1.0rem .0rem;
    background-color: #fff;
  }
  footer {
    font-family: "Century Gothic";
    background-color: $eestecgreylight;
    height: 13.0rem;
    position: relative;
    flex: 1 1 100%;
    div.social {
      flex-wrap: wrap;
      align-self: center;
      display: flex;
      flex: 1 1 33%;
      justify-content: space-around;
      svg.social {
        @media only screen and (max-width: 45em) /* 640 */
        {
          height: 5.0rem;
          width: 5.0rem;
        }
        height: 3.0rem;
        width: 3.0rem;
        fill: white;
        padding: 1.0rem;
        background-color: $darkeestec;
      }
      p {
        flex: 1 1 100%;
        color: #fff;
        padding: 1.0rem;
      }
    }
    img {
      height: 13.0rem;
      position: absolute;
      top: .0rem;
      left: .0rem;
    }
    nav {
      flex: 0 1 66%;
      z-index: 10;
      a {
        color: #fff;
        text-decoration: none;
      }

      @media only screen and (max-width: 45em) /* 640 */
      {
        display: none;
      }
      > ul {
        padding-top: 3.0rem;
        justify-content: space-around;
        > li {
          position: relative;
          > a {
            text-decoration: none;
            font-weight: bold;
            font-size: 1.6rem;
            height: 100%;
          }
          ul /*second level list*/    {
            top: 2.0rem;
            position: absolute;
            display: block;
            left: .0rem;
            right: .0rem;
          }
        }
      }
    }
  }
}

#copyright {
  text-align: center;
  background-color: $eestecgreylight;
  color: white;
  width: 100%;
}

.messages {
  flex: 1 1 100%;
  padding: 3.0rem;
  background-color: rgba(lightblue, 0.5);
  font-weight: bold;
  font-size: 1.8rem;
}

.ui-button {
  height: 3.0rem;
  flex: 1 1 100%;
}
