body > header {
  flex: 1 1 100%;
  background-color: #fff;
  z-index: 3;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 1%;
  img {
    height: 10.0rem;
    width: auto;
  }
  #eestec-text {
    height: 5.0rem;
  }
  #signin {

    td:last-child {
      text-align: left;
    }
    a {
      color: blue;
      text-align: left;
      font-size: 1.0rem;
    }
    td {
      padding: .5rem;
    }
    input[role=button] {
      text-align: center;
      width: 13.8rem;
      font-size: 1.6rem;
      padding: .1rem;
      color: #fff;
      font-family: "Century Gothic";
      border-radius: .4rem;
      border: none;
      display: block;
      background-color: $darkereestec;
      cursor: pointer;
    }
  }
  #userarea {
    @media only screen and (max-width: 45em) /* 640 */
    {
      width: 4rem;
      z-index: 100;
      position: fixed;
      top: 0px;
      right: 4.5rem;
      height: 4rem;
      figure, a, img {
        background-color: #fff;
        width: 4rem;
        height: 4rem;
      }
      figcaption {
        display: none;
      }
    }

  }
}

#nav {
  flex: 1 1 100%;
  z-index: 10;
  a {
    color: #fff;
    z-index: 100;
  }

  @media only screen and (max-width: 45em) /* 640 */
  {
    order: -1;
    &:not( :target ) > a:first-of-type,
    &:target > a:last-of-type {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:target {
      > ul {
        display: block;
      }
      > a {
        display: none;
      }
    }
  }
  > a {
    @media only screen and (max-width: 45em) /* 640 */
    {
      position: fixed;
      top: .0rem;
      right: .0rem;
      height: 41px;
      width: 41px;

      margin: 2px;
      color: #fff;
      background-color: $eestec;
      svg {
        margin: auto;
        fill: #fff;
      }
    }
    display: none;
  }
  > ul {
    @media only screen and (max-width: 45em) /* 640 */
    {
      display: none;
      position: fixed;
      top: 0rem;
      left: .0rem;
      right: 0px;
    }
    @media only screen and (min-width: 45em) /* 640 */
    {
      height: 5.5rem;
    }

    border-bottom: .1rem solid $eestec;
    border-top: .1rem solid $eestec;
    align-items: center;
    font-family: "Century Gothic";
    > li {
      &:last-child {
        flex: 2;
      }
      @media only screen and (max-width: 45em) /* 640 */
      {
        &:first-child {
          > a {
            display: block;
            background-color: $eestec;
            border-bottom: 3px white solid;
          }
        }
        width: 100%;
      }
      background-color: $darkeestec;
      position: relative;
      flex: 1;
      > a {
        @media only screen and (max-width: 45em) /* 640 */
        {
          padding: 11px;
          justify-content: flex-start;
          border-bottom: 1px white solid;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex: 1;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.6rem;
        height: 100%;
        &:hover {
          background-color: $eestec;
        }
      }
      &:hover {
        ul {
          @media only screen and (max-width: 45em) /* 640 */
          {
            display: none;
          }
          display: block;
        }
      }
      ul /*second level list*/  {
        display: none;
        top: 5.5rem;
        position: absolute;
        left: .0rem;
        right: .0rem;
        li /*second level elements*/  {
          display: block;
          padding: .5rem;
          background-color: $brighteestec;
          &:hover {
            background-color: $brightereestec;
          }
        }
      }
    }
    form {
      @media only screen and (max-width: 45em) /* 640 */
      {
        display: none;
      }
      flex: 2 1 20.0rem;
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      background-color: $darkeestec;
      margin: 30px;
      div {
        height: 3.0rem;
        padding: .3rem;
        background-color: $darkereestec;
        display: flex;
        border-radius: .5rem;
        input {
          background-color: $darkereestec;
          color: #fff;
          border: none;
          width: 200px;
          font-size: 2.5rem;
        }
      }
      svg {
        align-self: center;
        height: 2.5rem;
        width: 2.5rem;
        background-color: $darkereestec;
        fill: #fff;
      }
    }
  }
}
