body > header {
  flex: 1 1 100%;
  background-color: #fff;
  z-index: 3;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 1%;
  img {
    height: 100px;
    width: auto;
  }
  #eestec-text {
    height: 50px;
  }
  #signin {
    td {
      padding: 5px;
    }
    input[role=button] {
      text-align: center;
      width: 138px;
      font-size: 16px;
      padding: 1px;
      color: #fff;
      font-family: "Century Gothic";
      border-radius: 4px;
      border: none;
      display: block;
      background-color: $darkereestec;
    }
  }
}

#nav {
  @media only screen and (max-width: 45em) /* 640 */
  {
    &:not( :target ) > a:first-of-type,
    &:target > a:last-of-type {
      display: block;
    }
    &:target > ul {
      display: block;
    }
  }
  align-self: center;
  flex: 1 1 100%;
  z-index: 10;
  a {
    color: #fff;
  }
  > a {
    display: none;
  }
  > ul {
    @media only screen and (max-width: 45em) /* 640 */
    {
      display: none;
    }
    @media only screen and (min-width: 45em) /* 640 */
    {
      height: 55px;
    }

    border-bottom: 1px solid $eestec;
    border-top: 1px solid $eestec;
    align-items: center;
    font-family: "Century Gothic";
    > li {
      @media only screen and (max-width: 45em) /* 640 */
      {
        width: 100%;
      }
      background-color: $darkeestec;
      position: relative;
      > a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        height: 100%;
        &:hover {
          background-color: $eestec;
        }
      }
      &:hover {
        ul {
          @media only screen and (max-width: 45em) /* 640 */
          {
            display: none;
          }
          display: block;
        }
      }
      ul /*second level list*/  {
        display: none;
        top: 55px;
        position: absolute;
        left: 0px;
        li /*second level elements*/  {
          display: block;
          padding: 5px;
          background-color: $brighteestec;
          &:hover {
            background-color: $brightereestec;
          }
        }
      }
    }
    form {
      @media only screen and (max-width: 45em) /* 640 */
      {
        display: none;
      }
      flex: 1 1 200px;
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      background-color: $darkeestec;
      input {
        height: 30px;
        font-size: 25px;
        padding: 3px;
        background-color: $darkereestec;
        border-radius: 5px;
        border: none;
      }
    }
  }
}

