body > header{
    flex:1 1 100%;
    background-color: #fff;
  z-index: 3;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 1%;
  img{
    height: 100px;
    width: auto;
  }
  #eestec-text {
    height: 50px;
  }
  #signin {
    td {
      padding: 5px;
    }
    input[role=button] {
      text-align: center;
      width: 138px;
      font-size:16px;
      padding: 1px;
      color: #fff;
      font-family: "Century Gothic";
      border-radius: 4px;
      border: none;
      display: block;
      background-color: $darkereestec;
    }
  }
}

body > nav {
  align-self: center;
  flex: 1 1 100%;
  z-index: 10;
  display: flex;
  align-content: center;
  justify-content: space-between;
  a {
    color: #fff;
  }
  > ul {
    flex: 1 1 67%;
    height: 100%;
    > li {
      > a {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        height: 100%;
        color: #fff;
        &:hover {
          background-color: $eestec;
          color: #fff;
        }
      }
      position: relative;
      &:hover{
        ul {
          display: block;
        }
      }
      ul {
        display: none;
        top: 55px;
        position: absolute;
        left: 0px;
        right: 0px;
        li {
          display: block;
          padding: 5px;
          background-color: $brighteestec;
          &:hover {
            background-color: $brightereestec;
          }
          color: white;
        }
      }
    }
    border-bottom: 1px solid $eestec;
    border-top: 1px solid $eestec;
    display: flex;
    align-items: center;
    height: 55px;
    background-color: $darkeestec;
    font-family: "Century Gothic";

  }
  form {
    flex: 1 1 200px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: $darkeestec;
    input {
      height: 30px;
      font-size: 25px;
      padding: 3px;
      background-color: $darkereestec;
      border-radius: 5px;
      border: none;
    }
  }
}