section.history {
  ul {
    width: 100%;
    justify-content: flex-start;
    li {
      width: 100%;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 2px 20px;

    }
  }
  details {
    width: 100%;
    p {
      padding: 10px;
    }
  }
}