main.home{
  display:flex;
  flex-wrap: wrap;
  background:none;
  padding: .0rem .1rem .0rem .0rem;
  box-shadow: none;
  justify-content: center;
  max-width: 128.0rem;
  h1{
      color:#fff;
      text-align: center;
    left: .0rem;
    height: 2.0rem;
    width:100%;
      background-color:rgba(0,0,0,0.5);
      top:0;
    border: .0rem;
    padding: .5rem;
    margin: .0rem;
  }
  p {
    padding: .5rem;
  }
  #donate {
    flex:1 0 45%;
    min-height: 10.0rem;
    @media (max-width: 120.0rem) {
      order:3;
  }
    .wrapper{
    text-align: center;
      padding: 3.0rem;
      width: 15.0rem;
      a{
    display:block;
    background-color: $darkeestec;
    color:white;
        font-size: 1.8rem;
        text-decoration: none;
        padding: .4rem 1.0rem;
        font-weight: bolder;
  }
  }

}
  #newsletter{
    flex:1 0 45%;
    min-height: 10.0rem;
    position:relative;
    @media (max-width: 120.0rem) {
      order:4;
    }
    form{
      text-align: center;
      padding: 3.0rem .0rem;
      width: 45.0rem;
      position:absolute;
      right: .0rem;
      bottom: .0rem;
      input.submit{
        border:none;
        background-color: $darkeestec;
        color:white;
        font-size: 1.6rem;
        text-decoration: none;
        padding: .4rem 1.0rem;
        font-weight: bolder;
      }
    }
  }
  nav{
    flex:1 1 15%;
    min-height: 10.0rem;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    position:relative;

    img {
      padding: 5.0rem;
    }
    background-color: $eestecgreylight;
    @media screen and (max-width: 100.0rem) {
      flex:1 1 100%;
    }
  }
  #preview{
    flex:1 0 85%;
    height: 48.0rem;
    position:relative;

    @media screen and (max-width: 100.0rem) {
      flex: 1 1 100%;
    }
    >h1,h2{
      color:#fff;
      text-align: center;
      width:100%;
      z-index:101;
      background-color:rgba(0,0,0,0.5);
      top:0;
      left:0;
    }
    footer{
      position:absolute;
      bottom: .0rem;
      right: .0rem;
      display:flex;
      height: 8.0rem;
      overflow:hidden;
      background-color:rgba(0,0,0,0.5);
      color:#fff;
      h1,h2{
        text-align: left;
        border-bottom: .1rem solid #fff;
        margin-bottom: .3rem;
        padding-bottom: .3rem;

      }
      main{
        flex:1 1 70%;
        display:flex;
        flex-direction: column;
      }
      aside{
        flex:1 1 30%;
        background-color:rgba($darkeestec,0.75);
        margin: 1.0rem;
        padding: .5rem;
        display:inline;
        h2{
          background:none;
          padding: .0rem;
          margin: .0rem;
        }
        a{
          padding-left: .2rem;
          display:block;
          text-decoration: none;
          color:#fff;
          font-weight: bold;
        }
      }
    }
    img,.pictures,#news{
      position:relative;
      width:100%;
      height: 48.0rem;
    }
  }
}