section.news {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  > ul {
    flex: 1 1 100%;
    justify-content: flex-start;
  }
  img {
    flex: 1 1 20%;
    padding: 0px 30px 0px 30px;
  }
  p, div {
    font-size: 1.2rem;
    flex: 1 1 70%;
  }
}

a.news {
  width: 150px;
  height: 150px;
}
