div.stub {
  @media only screen and (max-width: 45em) /* 640 */
  {
    width: 100%;
    margin: 10px 0px;
    height: initial;
  }
  height: 208px;
  margin: 15px;
  width: 410px;
  h1 {
    background-color: $darkereestec;
    color: white;
    padding: 10px;
    margin: 0px;
  }
  img {
    @media only screen and (max-width: 45em) /* 640 */
    {
      width: 100%;
      height: initial;
    }
    height: 104px;
    width: 100%;
    margin: 0px;
    border: 0px;
  }

  p {
    padding: 10px;
    color: white;
    background-color: $darkeestec;
  }

}