/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import 'reset.scss';
@import 'globals.scss';
@import 'forms.scss';
@import "stub.scss";
@import 'header.scss';
@import 'buttons.scss';
@import 'figure.scss';
@import 'article.scss';
@import 'members.scss';
@import 'events.scss';
@import "eestecers.scss";
@import "home.scss";
@import "news.scss";
@import "datetimepicker.scss";
@import "activities.scss";
@import "people.scss";
@import "history.scss";
@import "static.scss";
@import "websitefeedback.scss";
@import "wiki.scss";
a {
  text-decoration: none;
}

.board {
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  a {
    margin: auto;
  }
  h4 {
    height: 50px;
  }
  div {
    p {
      padding-top: 5px;
    }
    flex: 1 1 20%;
  }
}