{% extends 'enet/split.html' %}
{% load thumbnail %}
{% block main %}
<div class="eestecerprofile">
    <h1>Profile</h1>
    <div class="personal">
        <h2>Personal Information</h2>
        <ul>
            <li>{{ object.get_full_name }}</li>
            <li>{{ object.date_of_birth }}</li>
        </ul>
    </div>
<div class="image">

        {% thumbnail object.profile_picture "250x250" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}

</div>
    <div class="lcteams">
        <h2>LC and Teams</h2>
        <ul>
            {% include 'members/members.html' with object_list=object.members.all %}
        </ul>
    </div>
        <h2>Last events Organized</h2>
        {% include  'events/events.html' with object_list=object.events_organized.all %}
        <h2>Last events participated</h2>
        {% include  'events/events.html' with object_list=object.events.all %}
    <div class="achievements">
        <h2>Achievements in EESTEC</h2>
        {% include  'account/achievement_list.html' with object_list=object.achievement_set.all %}
    </div>
</div>
{% endblock %}