{% extends 'enet/detail.html' %}
{% load thumbnail %}

{% block class %}eestecer{% endblock %}
{% block title %}{{ object }}{% endblock %}
{% block pictures %}
    {% thumbnail object.profile_picture "375x225" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
{% endblock %}

{% block details %}
    <h2>Name:</h2><h3>{{ object.get_full_name }}</h3>
    <h2>Gender:</h2><h3>{{ object.gender }}</h3>
    <h2>Date of Birth:</h2><h3>{{ object.date_of_birth }}</h3>
    <h2>Date Joined:</h2><h3>{{ object.joined }}</h3>
{% endblock %}

{% block more %}
    <details open>
        <summary>LC and Teams</summary>
        {% include 'teams/teams.html' with object_list=object.teams.all %}
    </details>
    {% if object.events_organized.all %}
        <details open>
        <h2>Last events Organized</h2>
        {% include  'events/events.html' with object_list=object.events_organized.all %}
    </details>
    {% endif %}
    {% if object.events.all %}
        <details open>
        <summary>Last events participated</summary>
        {% include  'events/events.html' with object_list=object.events.all %}
    </details>
    {% endif %}
    {% if object.achievements.all %}
        <details open>
        <summary>Achievements in EESTEC</summary>
        {% include  'account/achievement_list.html' with object_list=object.achievement_set.all %}
    </details>
    {% endif %}
{% endblock %}