<fieldset id="signin_menu" class="floatmenu">
    <form method="post" id="signin" action="">{% csrf_token %}
        <input class="userinput" id="username" name="username" value="" title="username" tabindex="4" placeholder="Email" type="text">
        </p>
        <p>
        <input class="userinput" id="password" name="password" value="" title="password" tabindex="5" type="password" placeholder="Password">
        </p>
        <p class="remember">
        <input id="signin_submit" class="floatsubmit" value="Sign in" tabindex="6" type="submit">
        </p>
        <!--TODOinput id="remember" name="remember_me" value="1" tabindex="7" type="checkbox">
        <label for="remember">Remember me</label>
        <p class="forgot"> <a href="#" id="resend_password_link">Forgot your password?</a> </p>
        <p class="forgot-username">
        <A id=forgot_username_link
            title="If you remember your password, try logging in with your email"
            href="#">Forgot your username?</A>
        </p-->
    </form>
</fieldset>

