{% load thumbnail %}
<div style="float:left;margin-right:30px;width:200px">
    {% thumbnail object.profile_picture "200x200" crop="center" as im %}
    <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}">
    {% endthumbnail %}
</div>
<div class="meta">
    <h1>
    {{object.first_name}} {{ object.last_name}}
</h1>

    <div style="clear: both;">
        <h2>General</h2>
        <table>
            <tbody>
                <tr>
                    <td style="width: 200px;">
                        <h3 style="text-align: left;">
                            Date of birth
                            </h3>
                    </td>

                    <td>{{ object.born_on }}</td>
                </tr>
                <tr>
                    <td style="width: 200px;">
                        <h3 style="text-align: left;">
                            Fluent in
                            </h3>
                    </td>

                    <td>
                        {% for language in object.languages.all %}{{ language }} {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>EESTEC</h2>

        <table>
            <tbody>
                <tr>
                    <td style="width: 200px;">
                        <h3 style="text-align: left;">LC:</h3>
                    </td>

                    <td>{{ object.lc }}</td>
                </tr>

                <tr>
                    <td style="width: 200px;">
                        <h3 style="text-align: left;">
                            Member of EESTEC since:</h3>
                    </td>

                    <td>{{ object.joined_eestec_on }}</td>
                </tr>
            </tbody>
        </table>

        <h2>TRT</h2>

        <table>
            <tbody>
                <tr>
                    <td style="width: 200px;">
                        <h3 style="text-align: left;">
                            Number of Trainings delivered:
                        </h3>
                    </td>

                    <td>{{ object.trainings_delivered }}</td>
                </tr>

                <tr>
                    <td style="width: 200px;">
                        <h3 style="text-align: left;">
                            Favourite Training:
                        </h3>
                    </td>

                    <td>{{ object.preferred_topics }}</td>
                </tr>
            </tbody>
        </table>

        <h2>Contact</h2>

        <table>
            <tbody>
                <tr>
                    <td style="width: 200px;">
                        <h3 style="text-align: left;">
                            Mobile Phone:
                        </h3>
                    </td>

                    <td>{{ object.mobile }}</td>
                </tr>

                <tr>
                    <td style="width: 200px;">
                        <h3 style="text-align: left;">
                            Facebook:
                        </h3>
                    </td>

                    <td>{{ object.facebook }}</td>
                </tr>

                <tr>
                    <td style="width: 200px;">
                        <h3 style="text-align: left;">
                            Google Hangouts:
                        </h3>
                    </td>

                    <td>{{ object.hangout }}</td>
                </tr>

                <tr>
                    <td style="width: 200px;">
                        <h3 style="text-align: left;">
                            Skype:
                        </h3>
                    </td>

                    <td>{{ object.skype }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% for training in trainings_list %}
<article class="hover">
    <header>
        <div class="meta">
            <h2>{{ training.name }}</h2>
            <h3>{{ training.date }}</h3>
            <h3>{{ training.location }}</h3>
            <h3>{% for trainer in training.trainers.all %}{{ trainer.first_name }}{% endfor %}</h3>
        </div>

        <div class="actions">
            <button>Sign up!</button>
        </div>
    </header>

    <p>{{ training.description }}</p>
</article>
{% endfor %}
