<md-dialog id="login" flex="33">
    <md-dialog-content>
        <form layout-align="flex-start center">
            <md-input-container>
                <label>Username</label>
                <input type="text" ng-model="username" required>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="text" ng-model="password" required>
            </md-input-container>
            <md-button>
                Login
            </md-button>
            <md-button class="md-accent">
                Register
            </md-button>
        </form>
        <a href="/password-reset/">Forgot Password</a>
    </md-dialog-content>
</md-dialog>
