<article ng-controller="networkController" id="map">
    <ui-gmap-google-map
            options='{"scrollwheel":false}'
            center='map.center'
            zoom='map.zoom'>
        <ui-gmap-marker ng-repeat="marker in markers!"
                        idKey="marker.object_id"
                        coords="marker"
                >
        </ui-gmap-marker>
    </ui-gmap-google-map>
    <md-grid-list md-cols="8" md-row-height="1:1" style="flex:1 1 100%;">
        <md-grid-tile
                ng-repeat="object in commitments"
                md-rowspan="2" md-colspan="2"
                style="display: flex">
            <md-grid-tile-header>
                {{ object.name }}
            </md-grid-tile-header>
            <a ng-href="/cities/{{ object.pk }}/">
                <img ng-src="{{ object.images[0].square }}" style="width: 100%;"/></a>
            <md-grid-tile-footer>
                Founded in {{ object.founded }}
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</article>

