body > md-content > div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
img {
  min-width: 20px;
  min-height: 20px;
}

ui-gmap-google-map {
  display: flex;
  flex: 1 1 100%;
  > div {
    display: flex;
    flex: 1 1 100%;
  }
  .angular-google-map-container {
    height: 600px;
    flex: 1 1 100%;
  }
}
md-content, html, body {
  height: 100%;
}
main{
  flex:1 1 100%;
}
html, body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

md-toolbar {
  height: 80px;
  align-items: center;
  justify-content: space-between;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  span {
    flex: 1 1 50%;
    justify-content: flex-end;
  }
  img {
    flex: 1 1 40%;
    justify-content: flex-end;
    height: 55px;
    padding: 0px 20px;
  }
  md-tabs {
    width: 500px;
    height: 50px;
  }
}

ng-md-icon {
  display: flex;
  justify-content: center;
  fill: #fff;
}

md-sidenav {
  display: flex;
  md-item, md-list {
    padding: 5px;
    flex-wrap: wrap;
    display: flex;
    flex: 1 1 100%;
  }
}

#login {
  ng-md-icon {
    fill: #000;
  }
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 500px;
    height: 350px;
  }
  a {
    font-size: 10px;
  }
}

#banner {
  img {
    width: 100%;
  }
  position: relative;
  div {
    width: 100%;
    height: 99%;
    background-color: rgba(0, 0, 0, 0.27);
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    path {
      fill: white;
      stroke: white;
    }
    img {
      width: 41%;
      min-width: 350px;
    }
    hr {
      width: 30%;
      min-width: 250px;
    }
    p {
      margin: 10px;
      text-transform: capitalize;
    }
  }
}

[contenteditable=false] {
  &.admin {
    outline: initial;
    cursor: pointer;
  }
  outline: none;
  cursor: default;
}
[contenteditable] {
  min-width: 10px;
  min-height: 10px;
}

section, article {
  display: flex;
  flex: 1 1 100%;
  align-items: flex-start;
  flex-wrap: wrap;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084);
  h1, h2, h3, h4, h5 {
    flex: 1 1 100%;
  }
}


h1 {
  font-size: 6vw;
  font-family: 'Roboto', sans-serif;
  color: #272727;
  font-weight: lighter;
  padding-bottom:20px;
  text-align: center;
}

#values h1, #values p, #values img{
  text-align: center;
  flex: 1 1 100%;
}
@media (min-width:1000px) {
  h1 {
    font-size: 50px;
  }
}

h3 {
  color: #212121;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}


