article {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;

}

article {
  h1 {
    align-self: flex-start;
  }
  header {
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 10px;

    .pictures, img {
      @media only screen and (max-width: 45em) /* 640 */
      {
        width: 100%;
      }
      width: 375px;
      height: 225px;
    }
    .details {
      @media only screen and (max-width: 45em) /* 640 */
      {
        min-width: initial;
        margin-top: 10px;
        width: 100%;

      }
      min-width: 400px;
      tr {
        td {
          &:first-child {
            font-size: 18px;
            font-weight: bold;
            color: $eestec-red-3;
            font-family: $centurygothic;

          }
        }
        margin-bottom: 15px;
        border-bottom: 1px $eestec-red-3 solid;
        &:last-child {
          height: 55px;
          border: none;

        }
      }

    }
  }
  .actions {
    text-align: center;
    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  details {
    align-self: flex-start;
    width: 100%;
  }
}
