main.wiki {
  padding: 0% 5% 5% 5%;
  h1 {
    display: flex;
    justify-content: space-between;
    nav {
      a {
        color: #000000;
        font-size: 12px;
        padding: 0px 20px;
      }
    }

  }
  body, span, nav, header, main {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
  }
  nav {
    flex: 1 1 20%;
    align-items: flex-start;
    border-right: 1px solid $eestec-red-3;
    ul {
      justify-content: flex-start;
      border-bottom: 1px solid black;
      padding: 2px;
      margin: 2px;
      li {
        flex: 1 1 100%;
        justify-content: flex-start;
        padding: 3px;
        a {
          font-size: 14px;
          color: black;
        }
      }
    }
  }
  ul.latest {
    flex: 1 1 100%;
    li {
      justify-content: space-between;
      flex: 1 1 100%;
      span {
        flex: 1 1 30%;
        justify-content: flex-end;
      }

      a {
        color: blue;
        text-align: left;
        font-size: 16px;
      }
    }
  }
  main {
    flex: 1 1 75%;
    display: block;
    min-height: 600px;
    padding: 5px;
  }
}