a.member {
  width: 191px;
  height: 126px;

  figure {
    width: 191px;
    height: 126px;
  }
}

section.members {
  ul {
    @extend ._flex_around;
  }
}
div.team {
  height: 300px;
}

#map {
  width: 80%;
  height: 350px;
}