<td colspan="2">
    <div class="actions">
        {% if user in event.applicants.all %}
    <a href="#" class="action-button shadow animate yellow">Application Pending</a>
{% elif participation != None %}
    {% if participation.confirmed %}
        {% if participation.transportation.arrival != None %}
            <a href="#" class="action-button shadow animate green">Confirmed</a>
        {% else %}
            <a href="{% url 'eventtransportation' object.slug %}"
               class="action-button shadow animate green">Fill in your transportation
                details</a>
        {% endif %}
    {% elif request.user.tshirt_size != None and request.user.thumbnail != None %}
        <a href="{% url 'eventconfirmation' object.slug %}"
           class="action-button shadow animate yellow">Confirm your Participation</a>
    {% else %}
        <a href="{% url 'userupdate' %}" class="action-button shadow animate yellow">Complete
            your User Profile</a>
    {% endif %}

        {% elif user.is_authenticated and applicable %}
            {% if object.category == "recruitment" %}
        <a href="{% url 'eventapplication' object.slug %}"
           class="action-button shadow animate red">Apply to this commitment</a>
            {% else %}
        <a href="{% url 'eventapplication' object.slug %}"
           class="action-button shadow animate red">Apply to event</a>
    {% endif %}
{% endif %}
    </div>
</td>
