{% extends 'events/event_detail.html' %}
{% block actions %}
    <div id="apply">
        <form id="applyform" action="" method="post">{% csrf_token %}
            {{ form.letter }}
            {{ form.applicant }}
            {{ form.target }}
            <input class="action-button red" type="submit" value="update"/>
        </form>
        <a style='color:red;' href="{% url 'application-delete' object.slug %}">Withdraw
            my application</a>
    </div>
    <script>
        $(function () {
            $("#apply").dialog({
                width: "330px",
                title: "Your motivation for applying"});
        });
    </script>
{% endblock %}