{% extends 'enet/figure.html' %}
{% load thumbnail %}
{% block class %}
    event
    {% if object.category == "ssa" %}
        ssa
    {% elif object.category == "workshop" %}
        workshop
    {% elif object.category == "exchange" %}
        exchange
    {% elif object.category == "operational" %}
        operational
    {% elif object.category == "imw" %}
        imw
    {% elif object.category == "training" %}
        training
    {% endif %}
{% endblock %}
{% block url %}{% url 'event' object.slug %}{% endblock %}
{% block picture %}
    {% thumbnail object.thumbnail "150x110" crop="center" as im %}
        <img alt="{{ object.name }}" src="{{ im.url }}" class="thumbnail">
    {% endthumbnail %}
{% endblock %}
{% block caption %}
    {{ object }}
{% endblock %}
{% block comment %}
    {{ object.category|title }}
    <hr>
    {% for oc in object.organizing_committee.all %}
        {{ oc }}
    {% endfor %}
    <hr>
    Start: {{ object.start_date }} <br>End: {{ object.end_date }}
    <hr>
    {% if object.deadline %}
        Application Deadline<br>
    {{ object.deadline }}
    {% endif %}
{% endblock %}
