{% extends "base/prototypes/detail.html" %}
{% load thumbnail %}
{% block class %}event{% endblock %}
{% block title %}{{ event }}{% endblock %}
{% block pictures %}
    {% for imf in object.images.all %}
        {% thumbnail imf.image "375x225" crop="center" as im %}
            <img alt="{{ object.name }}" src="{{ im.url }}" width="{{ im.width }}"
                 height="{{ im.height }}">
        {% endthumbnail %}
    {% endfor %}
{% endblock %}
{% block details %}
    <tr>
        <td>Event Name</td>
        <td>{{ object.name }} </td>
    </tr>
    <tr>
        <td>Organizer</td>
        <td>{% for oc in object.organizing_committee.all %}{{ oc }}{% endfor %}</td>
    </tr>
    <tr>
        <td>Date</td>
        <td>{{ object.start_date }} - {{ object.end_date }}</td>
    </tr>
    <tr>
        <td>Deadline</td>
        <td>{{ object.deadline }}</td>
    </tr>
    <tr>
        <td>Maximum participants</td>
        <td>{{ object.max_participants }} </td>
    </tr>
    <tr>
        {% block actions %}
            {% include 'events/actions.html' %}
        {% endblock %}
    </tr>
{% endblock %}
{% block more %}
    <details open>
        {% block description %}
            <summary>Description</summary>
        {% autoescape off %}
            {{ object.description }}
        {% endautoescape %}
        {% endblock %}
    </details>
    <details>
        <summary>Organizers</summary>
        {% include 'account/eestecers.html' with object_list=object.organizers.all %}
    </details>
    <details>
        <summary>Participants</summary>
        {% include 'account/eestecers.html' with object_list=object.participants.all %}
    </details>
{% endblock %}
{% block aside %}
    {% if user in object.applicants.all %}
        <h2> Application Actions</h2>
        <a href="{% url 'application-edit' slug=object.slug %}" class="teamadmin">Edit my
            application</a>

    {% endif %}
    {% if user in object.organizers.all or user.is_superuser %}
        <h2> Admin Actions</h2>
        <a href="{% url 'eventdescription' slug=object.slug %}" class="teamadmin">Change
            Description</a>
        {% url 'eventchangedetails' slug=object.slug as url %}
        {% include "prototypes/modal.html" with buttontext='Change Event Details' buttonurl=url %}
        {% url 'eventimages' slug=object.slug as url %}
        {% include "prototypes/modal.html" with buttontext='Event Images' buttonurl=url %}
        {% url 'eventapplications' slug=object.slug as url %}
        {% include "prototypes/modal.html" with buttontext='Applications' buttonurl=url %}
        {% url 'eventparticipation' slug=object.slug as url %}
        {% include "prototypes/modal.html" with buttontext='Participants' buttonurl=url %}
    {% endif %}
    <script type="text/javascript">
        $("a.teamadmin").button();
    </script>
{% endblock %}